---
openapi: 3.1.0
info:
  title: Peridio API
  version: "0.1.0"
servers:
  - url: https://api.peridio.com/v0
tags:
  - name: "Authentication"
    x-traitTag: true
    description: |
      Requests are authenticated by the [API Key](/reference/api-keys) provided via the `peridio-api-key` header.

      ```shell
      curl https://api.peridio.com/v1/identity \
        -H peridio-api-key: ZjE4M2U5NWYwZTVkNDQyOGEyMmQ5ODRmOWM1MjMzOGVQT2owQzJNSG0rdGhqZWJQTGVwMFA2N2VCSjJsYlU2VW5oR09GUUxPSGEyM0tZOXRnby9vL0oyeXBRRTI
      ```
  - name: "Errors"
    x-traitTag: true
    description: |
      Peridio uses conventional HTTP response codes to indicate the success or failure of an API request.

      ## HTTP Status Codes

      - `200 OK` - Everything worked as expected.
      - `400 Bad Request` - The request was invalid.
      - `401 Unauthorized` - No valid API Key provided.
      - `403 Forbidden` - The request is unauthorized.
      - `404 Not Found` - The requested resource doesn't exist.
      - `406 Not Acceptable` - The request indicated an accepted content type we do not support.
      - `409 Conflict` - The request is using a stale resource hash.
      - `422 Unprocessable Entity` - The request was understood but is semantically invalid.
      - `429 Too Many Requests` - Too many requests hit the API too quickly. We recommend an exponential backoff of your requests.
      - `500 Internal Server Error` - Something went wrong on Peridio's end.

      ## Peridio Error Codes

      - `bad_endpoint` - The requested endpoint does not exist.
      - `conflict` - The request was denied to prevent it from acting on potentially stale presumptions.
      - `content_negotiation` - The request's "accept" header is unacceptable.
      - `internal_server_error` - An unaccounted for error was encountered.
      - `not_found` - A subject of the request could not be resolved.
      - `parameter` - The parameter's requirements were not met.
      - `too_many_requests` - Too many requests hit the API too quickly. We recommend an exponential backoff of your requests.
      - `unauthenticated` - A Peridio API key was not provided.
      - `unauthorized` - The authentication identity does not have access to a necessary authorization scope.
x-tagGroups:
  - name: "Overview"
    tags:
      - "Authentication"
      - "Errors"
  - name: "Endpoints"
    tags:
      - "Distributions"
      - "Elements"
      - "Identity"
      - "Node Types"
      - "Nodes"
paths:
  /distributions:
    get:
      summary: list distributions
      tags:
        - "Distributions"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/array-of-distributions"
    post:
      summary: create distribution
      tags:
        - "Distributions"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                element_version_id:
                  $ref: "#/components/schemas/element-version-id"
                name:
                  $ref: "#/components/schemas/name"
              required:
                - element_version_id
                - name
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/distribution"
  /distributions/{distribution_id}:
    get:
      summary: get distribution
      tags:
        - "Distributions"
      parameters:
        - name: distribution_id
          in: path
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/distribution"
    put:
      summary: update distribution
      tags:
        - "Distributions"
      parameters:
        - name: distribution_id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/components/schemas/name"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/distribution"
  /elements:
    get:
      summary: list elements
      tags:
        - "Elements"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/array-of-elements"
    post:
      summary: create element
      tags:
        - "Elements"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/components/schemas/name"
              required:
                - name
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/element"
  /elements/{element_id}:
    get:
      summary: get element
      tags:
        - "Elements"
      parameters:
        - name: element_id
          in: path
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/element"
    put:
      summary: update element
      tags:
        - "Elements"
      parameters:
        - name: element_id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/components/schemas/name"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/element"
  /elements/{element_id}/versions:
    get:
      summary: list versions
      tags:
        - "Elements"
      parameters:
        - name: element_id
          in: path
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/array-of-element-versions"
    post:
      summary: create version
      tags:
        - "Elements"
      parameters:
        - name: element_id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                number:
                  $ref: "#/components/schemas/element-version-number"
              required:
                - number
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/element-version"
  /elements/{element_id}/versions/{version_id}:
    get:
      summary: get version
      tags:
        - "Elements"
      parameters:
        - name: element_id
          in: path
        - name: version_id
          in: path
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/element-version"
  /elements/{element_id}/versions/{version_id}/binaries:
    get:
      summary: list binaries
      tags:
        - "Elements"
      parameters:
        - name: element_id
          in: path
        - name: version_id
          in: path
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/array-of-element-binaries"
    post:
      summary: create binary
      tags:
        - "Elements"
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              description: The submitted binary must be less than or equal to 1 GB.
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/element-binary"
  /elements/{element_id}/versions/{version_id}/binaries/{binary_id}:
    get:
      summary: get binary
      tags:
        - "Elements"
      parameters:
        - name: element_id
          in: path
        - name: version_id
          in: path
        - name: binary_id
          in: path
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/element-binary"
  /identity:
    get:
      summary: Get
      description: |
        Gets information identifying the API Key used to authenticate the request, the Account it is a part of, and the Member it belongs to if applicable.
      tags:
        - "Identity"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/identity"
  /nodes:
    get:
      summary: list nodes
      tags:
        - "Nodes"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/array-of-nodes"
    post:
      summary: create node
      tags:
        - "Nodes"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/components/schemas/name"
                node_group_id:
                  $ref: "#/components/schemas/node-group-id"
              required:
                - node_group_id
                - name
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/node"
  /nodes/{node_id}:
    get:
      summary: get node
      tags:
        - "Nodes"
      parameters:
        - name: node_id
          in: path
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/node"
    put:
      summary: update node
      tags:
        - "Nodes"
      parameters:
        - name: node_id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/components/schemas/name"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/node"
  /node-groups:
    get:
      summary: list groups
      tags:
        - "Nodes"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/array-of-node-groups"
    post:
      summary: create group
      tags:
        - "Nodes"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                distribution_id:
                  $ref: "#/components/schemas/distribution-id"
                name:
                  $ref: "#/components/schemas/name"
              required:
                - distribution_id
                - name
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/node-group"
  /node-groups/{node_group_id}:
    get:
      summary: get group
      tags:
        - "Nodes"
      parameters:
        - name: node_group_id
          in: path
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/node-group"
    put:
      summary: update group
      tags:
        - "Nodes"
      parameters:
        - name: node_group_id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/components/schemas/name"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/node-group"
  /node-types:
    get:
      summary: list node types
      tags:
        - "Node Types"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/array-of-node-types"
    post:
      summary: create node type
      description: Name is unique
      tags:
        - "Node Types"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/components/schemas/name"
              required:
                - name
      responses:
        "200":
          description: Created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/node-type"
  /node-types/{node_type_id}:
    get:
      summary: get node type
      tags:
        - "Node Types"
      parameters:
        - name: node_type_id
          in: path
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/node-type"
    put:
      summary: update node type
      description: Name is unique
      tags:
        - "Node Types"
      parameters:
        - name: node_type_id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/components/schemas/name"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/node-type"
components:
  schemas:
    account-id:
      type: string
      format: uuid
    api-key-id:
      type: string
      format: uuid
    array-of-distributions:
      type: array
      minItems: 0
      maxItems: 100
      items:
        $ref: "#/components/schemas/distribution"
    array-of-element-ids:
      type: array
      minItems: 0
      maxItems: 100
      items:
        $ref: "#/components/schemas/element-id"
    array-of-element-binaries:
      type: array
      minItems: 0
      maxItems: 100
      items:
        $ref: "#/components/schemas/element-binary"
    array-of-element-versions:
      type: array
      minItems: 0
      maxItems: 100
      items:
        $ref: "#/components/schemas/element-version"
    array-of-elements:
      type: array
      minItems: 0
      maxItems: 100
      items:
        $ref: "#/components/schemas/element"
    array-of-node-groups:
      type: array
      minItems: 0
      maxItems: 100
      items:
        $ref: "#/components/schemas/node-group"
    array-of-node-types:
      type: array
      minItems: 0
      maxItems: 100
      items:
        $ref: "#/components/schemas/node-type"
    array-of-nodes:
      type: array
      minItems: 0
      maxItems: 100
      items:
        $ref: "#/components/schemas/node"
    distribution:
      allOf:
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
            id:
              $ref: "#/components/schemas/distribution-id"
            name:
              $ref: "#/components/schemas/name"
            element_version_id:
              $ref: "#/components/schemas/element-version-id"
            updated_at:
              type: string
              format: date-time
    distribution-id:
      type: string
      format: uuid
    element:
      allOf:
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
            id:
              $ref: "#/components/schemas/element-id"
            name:
              $ref: "#/components/schemas/name"
            updated_at:
              type: string
              format: date-time
    element-binary:
      allOf:
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
            hash:
              type: string
            id:
              $ref: "#/components/schemas/element-binary-id"
            size:
              type: integer
              format: bytes
            updated_at:
              type: string
              format: date-time
            version_id:
              $ref: "#/components/schemas/element-version-id"
    element-binary-id:
      type: string
      format: uuid
    element-id:
      type: string
      format: uuid
    element-version:
      allOf:
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
            element_id:
              $ref: "#/components/schemas/element-id"
            id:
              $ref: "#/components/schemas/element-version-id"
            number:
              $ref: "#/components/schemas/element-version-number"
            updated_at:
              type: string
              format: date-time
    element-version-id:
      type: string
      format: uuid
    identity:
      type: object
      properties:
        api_key_id:
          $ref: "#/components/schemas/api-key-id"
        account_id:
          $ref: "#/components/schemas/account-id"
        member_id:
          anyOf:
            - type: "null"
            - $ref: "#/components/schemas/member-id"
    element-version-number:
      type: string
    member-id:
      type: string
      format: uuid
    name:
      type: string
      minLength: 1
      maxLength: 128
    node:
      allOf:
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
            id:
              $ref: "#/components/schemas/node-id"
            name:
              $ref: "#/components/schemas/name"
            node_group_id:
              $ref: "#/components/schemas/node-group-id"
            updated_at:
              type: string
              format: date-time
    node-group:
      allOf:
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
            distribution_id:
              $ref: "#/components/schemas/distribution-id"
            id:
              $ref: "#/components/schemas/node-group-id"
            name:
              $ref: "#/components/schemas/name"
            updated_at:
              type: string
              format: date-time
    node-type:
      allOf:
        - type: object
          properties:
            created_at:
              type: string
              format: date-time
            id:
              $ref: "#/components/schemas/node-type-id"
            name:
              $ref: "#/components/schemas/name"
            updated_at:
              type: string
              format: date-time
    node-group-id:
      type: string
      format: uuid
    node-id:
      type: string
      format: uuid
    node-type-id:
      type: string
      format: uuid
