{
  "openapi": "3.0.3",
  "info": {
    "title": "Avocado Connect API",
    "version": "0.1.0",
    "description": "Public API for Avocado Connect, Peridio's IoT device management platform.\n\n## Authentication\n\nProgrammatic clients authenticate with a personal or org-scoped access token sent as a Bearer token:\n\n```\nAuthorization: Bearer avo_...\n```\n\nCreate a personal access token via `POST /api/me/api-tokens` or an org-scoped token via `POST /api/orgs/{org_id}/api-tokens`. Tokens do not require a CSRF token.\n\nThe first-party web app uses an httpOnly session cookie (`cookieAuth`) instead; it is documented for completeness but API consumers should use `bearerAuth`.\n\n## Conventions\n\n- All request and response bodies are JSON.\n- Successful resource responses wrap the payload in a top-level `data` field.\n- Simple acknowledgements return `{ \"ok\": true }`.\n- Errors return `{ \"error\": \"<code>\", \"message\": \"<human readable>\" }`; validation errors return `{ \"errors\": { \"<field>\": [\"<message>\"] } }` with status 422.\n- Resource identifiers are UUID v7 strings unless otherwise noted.\n- Org-scoped routes take the organization UUID as the `org_id` path parameter."
  },
  "servers": [
    {
      "url": "https://connect.peridio.com",
      "description": "Production"
    },
    {
      "url": "https://connect.staging.peridio.com",
      "description": "Staging"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication & Tokens",
      "description": "Obtain and manage API access tokens. Authenticate every request with `Authorization: Bearer <token>`. Create a personal token via `POST /api/me/api-tokens` or an org-scoped token via `POST /api/orgs/{org_id}/api-tokens`."
    },
    {
      "name": "Devices",
      "description": "Manage the devices in your fleet \u2014 list, inspect, tag, update, and assign to cohorts."
    },
    {
      "name": "Projects & Cohorts",
      "description": "Organize your fleet: projects group your work; cohorts group devices for targeted deployments and access control."
    },
    {
      "name": "Runtimes",
      "description": "Runtime images (the OS/application payload devices run) and their artifact uploads."
    },
    {
      "name": "Deployments",
      "description": "Roll a runtime out to a cohort of devices and track per-device deployment status."
    },
    {
      "name": "Remote Access",
      "description": "Open secure WireGuard tunnels to individual devices, governed by tunnel policy."
    },
    {
      "name": "Provisioning",
      "description": "Claim tokens that let new devices join your fleet at first boot."
    },
    {
      "name": "Signing & Trust",
      "description": "TUF trust-root and signing-key management for update integrity (advanced)."
    },
    {
      "name": "Administration",
      "description": "Organization membership, teams, invitations, and account-level requests."
    },
    {
      "name": "Events & Webhooks",
      "description": "Subscribe to fleet events via webhooks and query aggregated activity."
    }
  ],
  "paths": {
    "/api/me": {
      "get": {
        "operationId": "Me_show",
        "tags": ["Authentication & Tokens"],
        "summary": "Get the current user",
        "description": "Returns the authenticated user, the token in use (for Bearer auth), post-signup intake state, and all organizations the user belongs to with their role and tier limits.",
        "responses": {
          "200": {
            "description": "Current user and organizations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "organization_id": {
                              "type": "string"
                            }
                          },
                          "description": "Present when authenticated with a Bearer token; null for session auth."
                        },
                        "user": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/User"
                            }
                          ],
                          "type": "object",
                          "properties": {
                            "is_super_user": {
                              "type": "boolean"
                            },
                            "has_logged_in": {
                              "type": "boolean"
                            },
                            "auth_provider": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "intake": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": ["dismissed", "completed"]
                            },
                            "submitted_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        "organizations": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/OrganizationMembership"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/me/api-tokens": {
      "get": {
        "operationId": "UserApiToken_index",
        "tags": ["Authentication & Tokens"],
        "summary": "List personal access tokens",
        "description": "Lists the current user's personal access tokens (raw token values are never returned).",
        "responses": {
          "200": {
            "description": "Tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PersonalAccessToken"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "UserApiToken_create",
        "tags": ["Authentication & Tokens"],
        "summary": "Create a personal access token",
        "description": "Creates a personal access token. The raw token is returned **once** in `data.raw_token` and never again \u2014 store it securely. Use it as a Bearer token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "$ref": "#/components/schemas/PersonalAccessToken"
                        },
                        "raw_token": {
                          "type": "string",
                          "description": "Raw Bearer token (`avo_\u2026`). Shown once."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/me/api-tokens/{id}": {
      "delete": {
        "operationId": "UserApiToken_delete",
        "tags": ["Authentication & Tokens"],
        "summary": "Revoke a personal access token",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Token ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects": {
      "get": {
        "operationId": "Project_index",
        "tags": ["Projects & Cohorts"],
        "summary": "List projects",
        "description": "Lists projects the caller can access. Paginated when a pagination param is supplied.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Projects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "Project_create",
        "tags": ["Projects & Cohorts"],
        "summary": "Create a project",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "everyone_enabled": {
                        "type": "boolean"
                      }
                    },
                    "required": ["name"]
                  }
                },
                "required": ["project"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Project"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{id}": {
      "get": {
        "operationId": "Project_show",
        "tags": ["Projects & Cohorts"],
        "summary": "Get a project",
        "description": "Returns the project with its access users and groups.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectWithAccess"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "Project_update",
        "tags": ["Projects & Cohorts"],
        "summary": "Update a project",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "everyone_enabled": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "required": ["project"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Project"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "operationId": "Project_delete",
        "tags": ["Projects & Cohorts"],
        "summary": "Delete a project",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{id}/access/users": {
      "post": {
        "operationId": "Project_grant_user_access",
        "tags": ["Projects & Cohorts"],
        "summary": "Grant a user project access",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": ["user_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access granted; returns the project with updated access lists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectWithAccess"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{id}/access/users/{user_id}": {
      "delete": {
        "operationId": "Project_revoke_user_access",
        "tags": ["Projects & Cohorts"],
        "summary": "Revoke a user's project access",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{id}/access/groups": {
      "post": {
        "operationId": "Project_grant_group_access",
        "tags": ["Projects & Cohorts"],
        "summary": "Grant a group project access",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group_id": {
                    "type": "string"
                  }
                },
                "required": ["group_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access granted; returns the project with updated access lists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProjectWithAccess"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{id}/access/groups/{group_id}": {
      "delete": {
        "operationId": "Project_revoke_group_access",
        "tags": ["Projects & Cohorts"],
        "summary": "Revoke a group's project access",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/runtimes": {
      "get": {
        "operationId": "Runtime_index",
        "tags": ["Runtimes"],
        "summary": "List runtimes",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Runtimes (summary shape).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RuntimeSummary"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "Runtime_create",
        "tags": ["Runtimes"],
        "summary": "Create a runtime",
        "description": "Admin only. Returns the runtime plus presigned artifact upload URLs.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "runtime": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string",
                        "description": "1\u2013100 characters."
                      },
                      "description": {
                        "type": "string",
                        "description": "Max 2000 characters."
                      },
                      "build_id": {
                        "type": "string",
                        "description": "Max 64 characters."
                      },
                      "config": {
                        "type": "object"
                      },
                      "manifest": {
                        "type": "object"
                      },
                      "lockfile": {
                        "type": "object"
                      },
                      "content_key_hex": {
                        "type": "string"
                      },
                      "content_keyid": {
                        "type": "string"
                      }
                    },
                    "required": ["version"]
                  }
                },
                "required": ["runtime"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Runtime"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/runtimes/cohort-summary": {
      "get": {
        "operationId": "Runtime_cohort_summary",
        "tags": ["Runtimes"],
        "summary": "Runtime cohort summary",
        "description": "Returns per-cohort device counts for the given runtimes, used to preview deployment impact.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "runtime_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated runtime UUIDs."
          }
        ],
        "responses": {
          "200": {
            "description": "Cohort summary.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/runtimes/{id}": {
      "get": {
        "operationId": "Runtime_show",
        "tags": ["Runtimes"],
        "summary": "Get a runtime",
        "description": "Returns runtime detail including `config` and `lockfile`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Runtime.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Runtime"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "Runtime_update",
        "tags": ["Runtimes"],
        "summary": "Update a runtime",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "runtime": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "Max 2000 characters."
                      },
                      "build_id": {
                        "type": "string",
                        "description": "Max 64 characters."
                      },
                      "config": {
                        "type": "object"
                      },
                      "manifest": {
                        "type": "object"
                      },
                      "lockfile": {
                        "type": "object"
                      },
                      "content_key_hex": {
                        "type": "string"
                      },
                      "content_keyid": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": ["runtime"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Runtime"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "operationId": "Runtime_delete",
        "tags": ["Runtimes"],
        "summary": "Delete a runtime",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/runtimes/{id}/complete": {
      "post": {
        "operationId": "Runtime_complete",
        "tags": ["Runtimes"],
        "summary": "Complete a runtime artifact upload",
        "description": "Finalizes a multipart artifact upload by submitting the per-part ETags/checksums returned by S3.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "image_id": {
                          "type": "string"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "part_number": {
                                "type": "integer"
                              },
                              "etag": {
                                "type": "string"
                              },
                              "checksum_sha256": {
                                "type": "string"
                              }
                            },
                            "required": ["part_number", "etag"]
                          }
                        }
                      },
                      "required": ["image_id", "parts"]
                    }
                  }
                },
                "required": ["parts"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Runtime"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/runtimes/{id}/artifacts/{image_id}/upload-urls": {
      "get": {
        "operationId": "Runtime_get_upload_urls",
        "tags": ["Runtimes"],
        "summary": "Get artifact upload URLs",
        "description": "Returns presigned multipart upload URLs for an artifact image.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "image_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Upload URLs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "image_id": {
                          "type": "string"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "part_number": {
                                "type": "integer"
                              },
                              "upload_url": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/cohorts": {
      "get": {
        "operationId": "Cohort_index",
        "tags": ["Projects & Cohorts"],
        "summary": "List cohorts in a project",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Cohorts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Cohort"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "Cohort_create",
        "tags": ["Projects & Cohorts"],
        "summary": "Create a cohort",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cohort": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "everyone_enabled": {
                        "type": "boolean"
                      }
                    },
                    "required": ["name"]
                  }
                },
                "required": ["cohort"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cohort"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/cohorts/{id}": {
      "get": {
        "operationId": "Cohort_show",
        "tags": ["Projects & Cohorts"],
        "summary": "Get a cohort",
        "description": "Returns the cohort with access lists.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cohort.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CohortWithAccess"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "Cohort_update",
        "tags": ["Projects & Cohorts"],
        "summary": "Update a cohort",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cohort": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "everyone_enabled": {
                        "type": "boolean"
                      }
                    }
                  }
                },
                "required": ["cohort"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Cohort"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "operationId": "Cohort_delete",
        "tags": ["Projects & Cohorts"],
        "summary": "Delete a cohort",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/cohorts/{id}/access/users": {
      "post": {
        "operationId": "Cohort_grant_user_access",
        "tags": ["Projects & Cohorts"],
        "summary": "Grant a user cohort access",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": ["user_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access granted; returns the cohort with updated access lists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CohortWithAccess"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/cohorts/{id}/access/users/{user_id}": {
      "delete": {
        "operationId": "Cohort_revoke_user_access",
        "tags": ["Projects & Cohorts"],
        "summary": "Revoke a user's cohort access",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/cohorts/{id}/access/groups": {
      "post": {
        "operationId": "Cohort_grant_group_access",
        "tags": ["Projects & Cohorts"],
        "summary": "Grant a group cohort access",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group_id": {
                    "type": "string"
                  }
                },
                "required": ["group_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access granted; returns the cohort with updated access lists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CohortWithAccess"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/cohorts/{id}/access/groups/{group_id}": {
      "delete": {
        "operationId": "Cohort_revoke_group_access",
        "tags": ["Projects & Cohorts"],
        "summary": "Revoke a group's cohort access",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/cohorts": {
      "get": {
        "operationId": "Cohort_index_all",
        "tags": ["Projects & Cohorts"],
        "summary": "List all cohorts in the org",
        "description": "Lists cohorts across all projects the caller can access.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Cohorts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Cohort"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/deployments": {
      "get": {
        "operationId": "Deployment_index",
        "tags": ["Deployments"],
        "summary": "List deployments",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cohort_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Deployments.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Deployment"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "Deployment_create",
        "tags": ["Deployments"],
        "summary": "Create a deployment",
        "description": "Admin only. Targets a cohort, optionally narrowed by `device_ids` or `filter_tags`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deployment": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "cohort_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "runtime_id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "rollout_percentage": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 100,
                        "default": 0
                      },
                      "device_ids": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "description": "Explicit device targeting."
                      },
                      "filter_tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Tag-based targeting."
                      }
                    },
                    "required": ["name", "cohort_id", "runtime_id"]
                  }
                },
                "required": ["deployment"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Deployment"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/deployments/{id}": {
      "get": {
        "operationId": "Deployment_show",
        "tags": ["Deployments"],
        "summary": "Get a deployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Deployment"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "Deployment_update",
        "tags": ["Deployments"],
        "summary": "Update a deployment (PUT)",
        "description": "Admin only. Same handler as PATCH. Supports status transitions (e.g. activation) and field edits.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deployment": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "rollout_percentage": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "required": ["deployment"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Deployment"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "operationId": "Deployment_delete",
        "tags": ["Deployments"],
        "summary": "Delete a deployment",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/deployments/{id}/cancel": {
      "post": {
        "operationId": "Deployment_cancel",
        "tags": ["Deployments"],
        "summary": "Cancel a deployment",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Deployment"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/deployments/{id}/devices": {
      "get": {
        "operationId": "Deployment_devices",
        "tags": ["Deployments"],
        "summary": "List a deployment's devices",
        "description": "Lists the devices targeted by the deployment and their per-device status. Before activation, returns preview rows (with `deployment_device: null`).",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Devices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeploymentDeviceRow"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orgs/{org_id}/devices": {
      "get": {
        "operationId": "Device_index",
        "tags": ["Devices"],
        "summary": "List devices",
        "description": "Lists org devices, filtered to cohorts the caller can access.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["unregistered", "registered", "online", "offline"]
            }
          },
          {
            "name": "cohort_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cohort_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated cohort UUIDs."
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated tags."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Devices.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Device"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid sort field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid_sort_field",
                  "message": "sort_by must be one of: \u2026"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "Device_create",
        "tags": ["Devices"],
        "summary": "Create a device",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "identifier": {
                        "type": "string",
                        "description": "Unique device identifier."
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "metadata": {
                        "type": "object"
                      }
                    },
                    "required": ["name", "identifier"]
                  }
                },
                "required": ["device"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Device"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/orgs/{org_id}/devices/stats": {
      "get": {
        "operationId": "Device_stats",
        "tags": ["Devices"],
        "summary": "Device counts",
        "description": "Returns device counts by status for the caller's accessible cohorts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cohort_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cohort_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stats.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DeviceStats"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orgs/{org_id}/devices/tags": {
      "get": {
        "operationId": "Device_tags",
        "tags": ["Devices"],
        "summary": "List device tags",
        "description": "Returns the distinct set of device tags across the caller's accessible cohorts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "responses": {
          "200": {
            "description": "Tags.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orgs/{org_id}/devices/{id}": {
      "get": {
        "operationId": "Device_show",
        "tags": ["Devices"],
        "summary": "Get a device",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Device.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Device"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "Device_update",
        "tags": ["Devices"],
        "summary": "Update a device",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "metadata": {
                        "type": "object"
                      }
                    }
                  }
                },
                "required": ["device"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Device"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "operationId": "Device_delete",
        "tags": ["Devices"],
        "summary": "Delete a device",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/devices/{id}/cohort": {
      "put": {
        "operationId": "Device_set_cohort",
        "tags": ["Devices"],
        "summary": "Set a device's cohort",
        "description": "Admin only. Reassigns the device to a cohort (must be in the same project). The cohort cannot be cleared \u2014 delete the device to decommission it.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cohort_id": {
                    "type": "string"
                  }
                },
                "required": ["cohort_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reassigned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/orgs/{org_id}/members": {
      "get": {
        "operationId": "Organization_members",
        "tags": ["Administration"],
        "summary": "List org members",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Members.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrgMember"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orgs/{org_id}/members/{user_id}": {
      "delete": {
        "operationId": "Organization_remove_member",
        "tags": ["Administration"],
        "summary": "Remove a member",
        "description": "Admin only. Cannot remove yourself.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Removed."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/members/{user_id}/role": {
      "put": {
        "operationId": "Organization_update_member_role",
        "tags": ["Administration"],
        "summary": "Change a member's role",
        "description": "Admin only. Cannot change your own role.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": ["owner", "admin", "member"]
                  }
                },
                "required": ["role"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/orgs/{org_id}/groups": {
      "get": {
        "operationId": "Group_index",
        "tags": ["Administration"],
        "summary": "List groups",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Groups.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "Group_create",
        "tags": ["Administration"],
        "summary": "Create a group",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Group"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/orgs/{org_id}/groups/{id}": {
      "get": {
        "operationId": "Group_show",
        "tags": ["Administration"],
        "summary": "Get a group",
        "description": "Returns the group with its members.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/GroupWithMembers"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "Group_update",
        "tags": ["Administration"],
        "summary": "Update a group",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Group"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "operationId": "Group_delete",
        "tags": ["Administration"],
        "summary": "Delete a group",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/groups/{group_id}/members": {
      "post": {
        "operationId": "Group_add_member",
        "tags": ["Administration"],
        "summary": "Add a user to a group",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  }
                },
                "required": ["user_id"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Added.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/groups/{group_id}/members/{user_id}": {
      "delete": {
        "operationId": "Group_remove_member",
        "tags": ["Administration"],
        "summary": "Remove a user from a group",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/invitations": {
      "get": {
        "operationId": "OrgInvitation_index",
        "tags": ["Administration"],
        "summary": "List invitations",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Invitations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrgInvitation"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "OrgInvitation_create",
        "tags": ["Administration"],
        "summary": "Create an invitation",
        "description": "Admin only. Sends an invite email; when email delivery is disabled the response also includes `invite_url`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["owner", "admin", "member"],
                    "default": "member"
                  },
                  "group_id": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrgInvitation"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/orgs/{org_id}/invitations/{id}": {
      "delete": {
        "operationId": "OrgInvitation_delete",
        "tags": ["Administration"],
        "summary": "Revoke an invitation",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/claim_tokens": {
      "get": {
        "operationId": "ClaimToken_index",
        "tags": ["Provisioning"],
        "summary": "List claim tokens",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Claim tokens (raw token values omitted).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClaimToken"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "ClaimToken_create",
        "tags": ["Provisioning"],
        "summary": "Create a claim token",
        "description": "Admin only. The raw `token` is returned once, in the create response only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "claim_token": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "max_uses": {
                        "type": "integer"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "cohort_id": {
                        "type": "string"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": ["claim_token"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClaimToken"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      }
    },
    "/api/orgs/{org_id}/claim_tokens/{id}": {
      "get": {
        "operationId": "ClaimToken_show",
        "tags": ["Provisioning"],
        "summary": "Get a claim token",
        "description": "Admin only. Includes the token's use history.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claim token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClaimTokenWithUses"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "ClaimToken_update",
        "tags": ["Provisioning"],
        "summary": "Update a claim token",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "claim_token": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "max_uses": {
                        "type": "integer"
                      },
                      "expires_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": ["claim_token"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClaimToken"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          }
        }
      },
      "delete": {
        "operationId": "ClaimToken_delete",
        "tags": ["Provisioning"],
        "summary": "Delete a claim token",
        "description": "Admin only.",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/orgs/{org_id}/projects/{project_id}/claim_tokens": {
      "get": {
        "operationId": "ClaimToken_project_index",
        "tags": ["Provisioning"],
        "summary": "List claim tokens for a project",
        "description": "Admin only. Claim tokens whose cohort belongs to the given project.",
        "parameters": [
          {
[...]
