---
openapi: 3.1.0
info:
  license:
    name: Peridio
    url: https://github.com/peridio/parasola/blob/main/LICENSE
  description: The Peridio Device API facilitates device-based operations within Peridio v1 (Cremini).
  title: Peridio Device API
  version: "1.0.0"
servers:
  - url: https://device.cremini.peridio.com
security:
  - MutualTLS: []
tags:
    - name: Devices
      id: devices
x-tagGroups:
  - name: "Endpoints"
    tags:
      - "Devices"
paths:
  /device/me:
    get:
      operationId: get-device-me
      summary: get device me
      description: Returns information about the device identified by the request's authentication.
      tags:
        - "Devices"
      parameters:
        - name: expand
          description: |
            See [expanding responses](https://docs.peridio.com/admin-api#section/Expanding-Responses).

            |Field|Description|
            |-|-|
            |`cohort`|Includes the cohort information associated to the device.|
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      identifier:
                        $ref: "peridio-admin-openapi.yaml#/components/schemas/device-identifier"
                      quarantined:
                        type: boolean
  /device/update:
    get:
      operationId: get-device-update
      summary: get device update
      description: |
        This functionality has been superceded by [get update](#devices/operation/get-update).

        Returns information regarding whether an update is available via a [deployment](/admin-api#deployments).

        If an update is available, additional information describing the update is returned including a presigned URL to acquire the update.
      tags:
        - "Devices"
      parameters:
        - in: header
          name: x-peridio-uuid
          schema:
            description: The UUID of the currently active firmware on the device.
            $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-uuid"
          required: true
        - name: preflight
          in: query
          required: false
          schema:
            type: boolean
            default: false
            description: |
              **When `false`**

              The request will count towards update attempts. `firmware_url` in the response will be set to a presigned URL.

              **When `true`**

              The request will not count towards update attempts. `firmware_url` in the response will be `null`.

              For example, one may use `true` to check if an update is available when you don't yet intend to consume the update so that a device does not rack up a number of incomplete updates and eventually get quarantined (pending the failure configuration set on the relevant deployment).
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      update_available:
                        description: |
                          An update may not be available if:

                            1. There is no applicable deployment, i.e., the device is up to date.
                            2. The device or an applicable deployment is quarantined.
                        type: boolean
                      firmware_url:
                        description: A presigned HTTPS URL. Expires in 24 hours.
                        oneOf:
                          - type: "null"
                          - type: string
                      firmware_meta:
                        oneOf:
                          - type: "null"
                          - $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-metadata"
                      deployment_id:
                        description: Uniquely identifies a deployment.
                        oneOf:
                          - type: "null"
                          - type: integer

  /update:
    get:
      operationId: get-update
      summary: get update
      description: |
        Returns information regarding whether an update is available via a [release](/admin-api#releases).

        By default, only the `status` field is returned, but you can use the `expand` query parameter to obtain the other fields.
      tags:
        - "Devices"
      parameters:
        - in: header
          name: peridio-release-prn
          schema:
            description: The PRN of the currently active release on the device.
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: true
        - name: expand
          description: |
            See [expanding responses](https://docs.peridio.com/admin-api#section/Expanding-Responses).

            |Field|Description|
            |-|-|
            |`release`|Includes the target release.|
            |`bundle`|Includes the target bundle, the bundle associated with the target release.|
            |`manifest`|Includes the manifest including artifact, versions and the presigned url.|
            |`manifest.artifact`|Includes the artifact for the binary.|
            |`manifest.artifact_version`|Includes the artifact version for the binary.|

            In addition to expanding records, you can expand individual fields; querying `manifest.url` will return only the `url` field inside the manifest array's items.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  status:
                    enum:
                      - "update"
                      - "no_update"
                      - "device_quarantine"
                  release:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/release"
                  bundle:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/bundle"
                  manifest:
                    type: array
                    items:
                      type: object
                      properties:
                        artifact:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/artifact"
                        artifact_version:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/artifact-version"
                        binary_prn:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
                        hash:
                          type: string
                        url:
                          type: string
                        signatures:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/array-of-signatures"

components:
  securitySchemes:
    MutualTLS:
      type: mutualTLS
      description: The provided client certificate must be signed by a [CA certificate](https://docs.peridio.com/reference/ca-certificates) registered with Peridio.
