# yamllint disable rule:line-length
---
openapi: 3.1.0
info:
  license:
    name: Peridio
    url: https://github.com/peridio/parasola/blob/main/LICENSE
  description: |
    The Peridio Device API is the primary way for devices to interact with Peridio.

    # Global Headers

    The following headers may be supplied when requesting any route.

    For critical context about how Peridio Cloud will interpret these headers, refer to the [device integration](/platform/reference/bundle-distribution#device-integration) section of the [bundle distribution](/platform/reference/bundle-distribution) reference.

    For context regarding deprecated headers, see [deployment eligibility](/platform/reference/deployments#deployment-eligibility).

    |key|value|description|
    |-|-|-|
    |peridio-release-prn|A release PRN.|Informs Peridio of what release is currently active on the device.|
    |peridio-bundle-prn|A bundle PRN.|Informs Peridio of what bundle is currently active on the device.|
    |peridio-release-version|A release version.|Informs Peridio of what release version is representative of the device's state.|
    |x-peridio-architecture|A firmware architecture.|Deprecated. See [deployment eligibility](/platform/reference/deployments#deployment-eligibility). The architecture of the device's currently active firmware. When supplying any `x-peridio` header, you should supply all `x-peridio` headers.|
    |x-peridio-platform|A firmware platform.|Deprecated. See [deployment eligibility](/platform/reference/deployments#deployment-eligibility). The platform of the device's currently active firmware. When supplying any `x-peridio` header, you should supply all `x-peridio` headers.|
    |x-peridio-product|A firmware product.|Deprecated. See [deployment eligibility](/platform/reference/deployments#deployment-eligibility). The product of the device's currently active firmware. When supplying any `x-peridio` header, you should supply all `x-peridio` headers.|
    |x-peridio-uuid|A firmware UUID.|Deprecated. See [deployment eligibility](/platform/reference/deployments#deployment-eligibility). The UUID of the device's currently active firmware. When supplying any `x-peridio` header, you should supply all `x-peridio` headers.|
    |x-peridio-version|A firmware version.|Deprecated. See [deployment eligibility](/platform/reference/deployments#deployment-eligibility). The version of the device's currently active firmware. When supplying any `x-peridio` header, you should supply all `x-peridio` headers.|
  title: Peridio Device API
  version: "1.0.0"
servers:
  - url: https://device.cremini.peridio.com
security:
  - MutualTLS: []
tags:
  - name: Devices
    id: devices
  - name: Tunnels
    id: tunnels
x-tagGroups:
  - name: "Endpoints"
    tags:
      - "Devices"
      - "Tunnels"
paths:
  /device/me:
    get:
      operationId: get-device-me
      summary: get device me
      description: |
        Returns information about the device identified by the request's authentication.

        ### Expandable

        This endpoint has an expandable response. See [expanding responses](/admin-api#section/Expanding-Responses).
      tags:
        - "Devices"
      parameters:
        - in: header
          name: peridio-release-prn
          schema:
            description: See [global headers](#global-headers).
            examples:
              [
                prn:1:a1ed0c4e-f222-4bb3-89dc-48320018875d:release:e4bf3021-b8d7-42d5-a1bd-52121427ebd0,
              ]
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: false
        - in: header
          name: peridio-release-version
          schema:
            description: See [global headers](#global-headers).
            $ref: "peridio-admin-openapi.yaml#/components/schemas/release-version"
          required: false
        - name: expand
          description: |
            See [expanding responses](https://docs.peridio.com/admin-api#section/Expanding-Responses).

            **Expandable Fields**

            For more information on each field, reference the response.

            - `cohort`
            - `manifest`
              - `artifact`
              - `artifact_version`
              - `binary_prn`
              - `custom_metadata`
              - `hash`
              - `signatures`
              - `size`
              - `target`
              - `url`
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      cohort:
                        $ref: "peridio-admin-openapi.yaml#/components/schemas/cohort"
                        description: |
                          Expand required. See [expanding responses](#section/Expanding-Responses).

                          The cohort the device belongs to.
                      manifest:
                        description: |
                          Expand required. See [expanding responses](#section/Expanding-Responses).

                          The manifest associated with the device's current bundle. Includes metadata about the binaries available to download, including a presigned download URL.
                        $ref: "#/components/schemas/manifest"
                      identifier:
                        $ref: "peridio-admin-openapi.yaml#/components/schemas/device-identifier"
                      quarantined:
                        type: boolean
  /device/update:
    get:
      operationId: get-device-update
      summary: get device update
      description: |
        This functionality has been superceded by [get update](#devices/operation/get-update).

        Returns information regarding whether an update is available via a [deployment](/admin-api#deployments).

        If an update is available, additional information describing the update is returned including a presigned URL to acquire the update.
      tags:
        - "Devices"
      parameters:
        - in: header
          name: x-peridio-uuid
          schema:
            description: See [global headers](#global-headers).
            $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-uuid"
          required: true
        - in: header
          name: peridio-release-prn
          schema:
            description: See [global headers](#global-headers).
            examples:
              [
                prn:1:a1ed0c4e-f222-4bb3-89dc-48320018875d:release:e4bf3021-b8d7-42d5-a1bd-52121427ebd0,
              ]
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: false
        - in: header
          name: peridio-release-version
          schema:
            description: See [global headers](#global-headers).
            $ref: "peridio-admin-openapi.yaml#/components/schemas/release-version"
          required: false
        - name: preflight
          in: query
          required: false
          schema:
            type: boolean
            default: false
            description: |
              **When `false`**

              The request will count towards update attempts. `firmware_url` in the response will be set to a presigned URL.

              **When `true`**

              The request will not count towards update attempts. `firmware_url` in the response will be `null`.

              For example, one may use `true` to check if an update is available when you don't yet intend to consume the update so that a device does not rack up a number of incomplete updates and eventually get quarantined (pending the failure configuration set on the relevant deployment).
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      update_available:
                        description: |
                          An update may not be available if:

                            1. There is no applicable deployment, i.e., the device is up to date.
                            2. The device or an applicable deployment is quarantined.
                        type: boolean
                      firmware_url:
                        description: A presigned HTTPS URL. Expires in 24 hours.
                        oneOf:
                          - type: "null"
                          - type: string
                      firmware_meta:
                        oneOf:
                          - type: "null"
                          - $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-metadata"
                      deployment_id:
                        description: This is a vestigial field whose value is always `null`.
                        type: "null"

  /update:
    get:
      operationId: get-update
      summary: get update
      description: |
        Returns information regarding whether an update is available via a [release](/platform/reference/releases) or [bundle override](/platform/reference/bundle-overrides).

        ### Expandable

        This endpoint has an expandable response. By default, only the `status` field is returned. See [expanding responses](/admin-api#section/Expanding-Responses).
      tags:
        - "Devices"
      parameters:
        - in: header
          name: peridio-release-prn
          schema:
            description: See [global headers](#section/Global-Headers).
            examples:
              [
                prn:1:a1ed0c4e-f222-4bb3-89dc-48320018875d:release:e4bf3021-b8d7-42d5-a1bd-52121427ebd0,
              ]
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: false
        - in: header
          name: peridio-bundle-prn
          schema:
            description: See [global headers](#section/Global-Headers).
            examples:
              [
                prn:1:a1ed0c4e-f222-4bb3-89dc-48320018875d:bundle:ddd32c59-fc35-4202-a520-a4eddaa11fb3,
              ]
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: false
        - in: header
          name: peridio-release-version
          schema:
            description: See [global headers](#section/Global-Headers).
            examples: [1.0.0]
            $ref: "peridio-admin-openapi.yaml#/components/schemas/release-version"
          required: false
        - name: expand
          description: |
            See [expanding responses](https://docs.peridio.com/admin-api#section/Expanding-Responses).

            **Expandable Fields**

            For more information on each field, reference the response.

            - `source_type`
            - `cohort`
            - `release`
            - `bundle`
            - `manifest`
              - `artifact`
              - `artifact_version`
              - `binary_prn`
              - `custom_metadata`
              - `hash`
              - `signatures`
              - `size`
              - `target`
              - `url`
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  status:
                    enum:
                      - "update"
                      - "no_update"
                      - "device_quarantine"
                  source_type:
                    enum:
                      - "release"
                      - "bundle_override"
                      - null
                    description: |
                      Expand required. See [expanding responses](#section/Expanding-Responses).

                      The "source" of the bundle update - from a release, or a bundle override.
                  cohort:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/cohort"
                    description: |
                      Expand required. See [expanding responses](#section/Expanding-Responses).

                      The cohort the device belongs to.
                  release:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/release"
                    description: |
                      Expand required. See [expanding responses](#section/Expanding-Responses).

                      The target release with respect to [release resolution](/platform/reference/releases#release-resolution).
                  bundle:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/bundle"
                    description: |
                      Expand required. See [expanding responses](#section/Expanding-Responses).

                      The bundle associated with `release`.
                  manifest:
                    $ref: "#/components/schemas/manifest"
  /tunnels:
    get:
      operationId: list-tunnels
      summary: List tunnels
      description: |
        This only returns `:requested` and `:open` tunnels.

        For list options, we only support pagination params.
      tags:
        - "Tunnels"
      parameters:
        - $ref: "peridio-admin-openapi.yaml#/components/parameters/page"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  tunnels:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/array-of-tunnels"
                  next_page:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/next-page"
  /tunnels/configure:
    post:
      operationId: configure-a-tunnel
      summary: Configure a tunnel
      description: |
        Configures a tunnel with device networking data.

        If successful, the tunnel's state will be `open`. Only tunnels with a state of `requested` can be configured.
      tags:
        - "Tunnels"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                tunnel_prn:
                  $ref: "peridio-admin-openapi.yaml#/components/schemas/tunnel-prn"
                cidr_blocks:
                  $ref: "peridio-admin-openapi.yaml#/components/schemas/cidrs"
                  description: |
                    A set of CIDR blocks that the device has available for use with remote access. The device's wireguard peer IP as well as wireguard interface IP will be choosen from this set so it must contain at least two distinct IPs.
                port_ranges:
                  $ref: "#/components/schemas/port-ranges"
                  examples: [[45000-46000, 47000-48000]]
                  description: |
                    A set of port ranges that the device has available for use with remote access. The device can use this to constrain the pool of ports from which Peridio will choose the wireguard server listen port, that is, the port on which the server is listening for wireguard UDP traffic.
                device_proxy_port:
                  type: number
                  description: The port on which the device is listening for wireguard UDP traffic.
                  examples: [53000]
                device_public_key:
                  type: string
                  examples: [Y4nCIXdpb+f3WgPi0377FDPCAfP+st82s98lTRepHEk=]
                  description: The device's public key for wireguard.
              required:
                - cidr_blocks
                - device_proxy_port
                - device_public_key
                - port_ranges
                - tunnel_prn
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                      - $ref: "peridio-admin-openapi.yaml#/components/schemas/tunnel"
                      - type: object
                        properties:
                          state:
                            examples: ["open"]
  /tunnels/{tunnel_prn}:
    patch:
      operationId: update-a-tunnel
      summary: Update a tunnel
      description: |
        Update a tunnel currently only allows changing a tunnel to a closed state.
      tags:
        - "Tunnels"
      parameters:
        - name: tunnel_prn
          in: path
          required: true
          schema:
            $ref: "peridio-admin-openapi.yaml#/components/schemas/tunnel-prn"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                state:
                  type: string
                  examples: [closed]
                  description: The state we want the tunnel to be in. Only accepts "closed".
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                      - $ref: "peridio-admin-openapi.yaml#/components/schemas/tunnel"
                      - type: object
                        properties:
                          state:
                            examples: ["closed"]
components:
  securitySchemes:
    MutualTLS:
      type: mutualTLS
      description: The provided client certificate must be signed by a [CA certificate](https://docs.peridio.com/reference/ca-certificates) registered with Peridio.
  schemas:
    port-ranges:
      type: array
      items:
        type: string
    manifest:
      description: |
        Expand required. See [expanding responses](#section/Expanding-Responses).

        The manifest associated with `bundle`. Includes metadata about the binaries available to download, including a presigned download URL.
      type: array
      items:
        type: object
        properties:
          artifact:
            $ref: "peridio-admin-openapi.yaml#/components/schemas/artifact"
            description: |
              Expand required. See [expanding responses](#section/Expanding-Responses).

              The artifact associated with `artifact_version`.
          artifact_version:
            $ref: "peridio-admin-openapi.yaml#/components/schemas/artifact-version"
            description: |
              Expand required. See [expanding responses](#section/Expanding-Responses).

              The artifact version associated with `binary_prn`.
          binary_prn:
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          custom_metadata:
            $ref: "peridio-admin-openapi.yaml#/components/schemas/custom-metadata"
            description: |
              Expand required. See [expanding responses](#section/Expanding-Responses).

              A JSON object that device's may use to inform decisions regarding last mile application of the binary including: downloading, persisting, installing, and custom use cases.

              Max size is 1,000,000 bytes (1 MB).
          hash:
            $ref: "peridio-admin-openapi.yaml#/components/schemas/binary-hash"
          signatures:
            $ref: "peridio-admin-openapi.yaml#/components/schemas/array-of-signatures"
          size:
            $ref: "peridio-admin-openapi.yaml#/components/schemas/binary-size"
          target:
            $ref: "peridio-admin-openapi.yaml#/components/schemas/target-triplet"
          url:
            type: string
