---
openapi: 3.1.0
info:
  license: 
    name: Peridio
    url: https://github.com/peridio/parasola/blob/main/LICENSE
  description: The Peridio Device API facilitates device-based operations within Peridio v1 (Cremini).
  title: Peridio Device API
  version: "1.0.0"
servers:
  - url: https://device.cremini.peridio.com
security:
  - MutualTLS: []
x-tagGroups:
  - name: "Endpoints"
    tags:
      - "Devices"
      - "Release Orchestration"
paths:
  /device/me:
    get:
      operationId: get-device-me
      summary: get device me
      description: Returns information about the device identified by the request's authentication.
      tags:
        - "Devices"
      parameters:
        - name: expand
          description: |
            See [expanding responses](https://docs.peridio.com/admin-api#section/Expanding-Responses).

            |Field|Description|
            |-|-|
            |`cohort`|Includes the cohort information associated to the device.|
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      identifier:
                        $ref: "peridio-admin-openapi.yaml#/components/schemas/device-identifier"
                      quarantined:
                        type: boolean
  /device/update:
    get:
      operationId: get-device-update
      summary: get device update
      description: |
        Returns information regarding whether an update is available or not.

        If an update is available, additional information describing the update is returned including a presigned URL to acquire the update.
      tags:
        - "Devices"
      parameters:
        - in: header
          name: x-peridio-uuid
          schema:
            description: The UUID of the currently active firmware on the device.
            $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-uuid"
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      update_available:
                        description: |
                          An update may not be available if:

                            1. There is no applicable deployment, i.e., the device is up to date.
                            2. The device or an applicable deployment is quarantined.
                        type: boolean
                      firmware_url:
                        description: A presigned HTTPS URL. Expires in 24 hours.
                        oneOf:
                          - type: "null"
                          - type: string
                      firmware_meta:
                        oneOf:
                          - type: "null"
                          - $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-metadata"
                      deployment_id:
                        description: Uniquely identifies a deployment.
                        oneOf:
                          - type: "null"
                          - type: integer
                          
  /update:
    get:
      operationId: get-update
      summary: get device update
      description: |
        Returns information regarding whether an update is available or not.

        By default, **only the `status` field is returned**, but you can use the `expand` query parameter to obtain the other fields.

        See [expanding responses](https://docs.peridio.com/admin-api#section/Expanding-Responses).

        |Field|Description|
        |-|-|
        |`release`|Includes the release record.|
        |`bundle`|Includes the bundle associated to the release.|
        |`manifest`|Includes the manifest including artifact, versions and the presigned url.|
        |`manifest.artifact`|Includes the artifact for the binary.|
        |`manifest.artifact_version`|Includes the artifact version for the binary.|

        In addition to expanding records you can expand individual fields, quering `manifest.url` will return only the `url` field inside the manifest.
      tags:
        - "Release Orchestration"
      parameters:
        - in: header
          name: peridio-release-prn
          schema:
            description: The PRN of the currently active release on the device.
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  status:
                    enum:
                      - "update"
                      - "no_update"
                      - "device_quarantine"
                  release:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/release"
                  bundle:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/bundle"
                  manifest:
                    type: array
                    items: 
                      type: object
                      properties:
                        artifact:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/artifact"
                        artifact_version:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/artifact-version"
                        binary_prn:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
                        hash:
                          type: string
                        url:
                          type: string
                        signatures:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/array-of-signatures"

components:
  securitySchemes:
    MutualTLS:
      type: mutualTLS
      description: The provided client certificate must be signed by a [CA certificate](https://docs.peridio.com/reference/ca-certificates) registered with Peridio.
