---
openapi: 3.1.0
info:
  license: 
    name: Peridio
    url: https://github.com/peridio/parasola/blob/main/LICENSE
  description: The Peridio Device API facilitates device-based operations within Peridio v1 (Cremini).
  title: Peridio Device API
  version: "1.0.0"
servers:
  - url: https://device.cremini.peridio.com
security:
  - MutualTLS: []
x-tagGroups:
  - name: "Endpoints"
    tags:
      - "Devices"
      - "Release Orchestration"
paths:
  /device/me:
    get:
      operationId: get-device-me
      summary: get device me
      description: Returns information about the device identified by the request's authentication.
      tags:
        - "Devices"
      parameters:
        - name: expand
          description: |
            See [expanding responses](https://docs.peridio.com/admin-api#section/Expanding-Responses).

            |Field|Description|
            |-|-|
            |`cohort`|Includes the cohort information associated to the device.|
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      identifier:
                        $ref: "peridio-admin-openapi.yaml#/components/schemas/device-identifier"
                      quarantined:
                        type: boolean
  /device/update:
    get:
      operationId: get-device-update
      summary: get device update
      description: |
        Returns information regarding whether an update is available or not.

        If an update is available, additional information describing the update is returned including a presigned URL to acquire the update.
      tags:
        - "Devices"
      parameters:
        - in: header
          name: x-peridio-uuid
          schema:
            description: The UUID of the currently active firmware on the device.
            $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-uuid"
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      update_available:
                        description: |
                          An update may not be available if:

                            1. There is no applicable deployment, i.e., the device is up to date.
                            2. The device or an applicable deployment is quarantined.
                        type: boolean
                      firmware_url:
                        description: A presigned HTTPS URL. Expires in 24 hours.
                        oneOf:
                          - type: "null"
                          - type: string
                      firmware_meta:
                        oneOf:
                          - type: "null"
                          - $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-metadata"
                      deployment_id:
                        description: Uniquely identifies a deployment.
                        oneOf:
                          - type: "null"
                          - type: integer
                          
  /update:
    get:
      operationId: get-update
      summary: get device update
      description: |
        Returns information regarding whether an update is available or not.

        If an update is available, additional information describing the update is returned including a presigned URL to acquire the update.
      tags:
        - "Release Orchestration"
      parameters:
        - in: header
          name: peridio-release-id
          schema:
            description: The UUID of the currently active release are on the device.
            type: string
            format: uuid
          required: true
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      release_prn:
                        description: |
                          The release PRN, if this value is null no update is available
                        oneOf:
                          - type: "null"
                          - type: string
                      bundle_prn:
                        description: The bundle PRN
                        oneOf:
                          - type: "null"
                          - type: string
                      quarantined:
                        description: Wether or not the device is quarantined
                        oneOf:
                          - type: "null"
                          - type: boolean
                      releases:
                        description: The update information including PRN and presigned URLs
                        type: array
                        items: 
                          type: object
                          properties:
                            binary_prn:
                              type: string
                            hash:
                              description: the file hash
                              type: string
                            url:
                              description: the presigned download URL
                              type: string
                            signatures:
                              type: array
                              items: 
                                type: object
                                properties:
                                  signing_key_prn:
                                    type: string
                                  signature:
                                    type: string
                            
components:
  securitySchemes:
    MutualTLS:
      type: mutualTLS
      description: The provided client certificate must be signed by a [CA certificate](https://docs.peridio.com/reference/ca-certificates) registered with Peridio.
