# yamllint disable rule:line-length
---
openapi: 3.1.0
info:
  license:
    name: Peridio
    url: https://github.com/peridio/parasola/blob/main/LICENSE
  description: |
    The Peridio Device API is the primary way for devices to interact with Peridio.

    # Global Headers

    The following headers may be supplied when requesting any endpoint.

    |key|value|description|
    |-|-|-|
    |peridio-release-prn|A release PRN.|See [release resolution](/platform/reference/releases#release-resolution). Informs Peridio of what release is currently active on the device. The preference should always be to supply this header with a valid value. If you supply this header, you should not supply the `peridio-release-version` header.|
    |peridio-release-version|A release version.|See [release resolution](/platform/reference/releases#release-resolution). This header is only used in exceptional cases when you don't have a PRN to supply via `peridio-release-prn`. In that case, you may supply this header and you should not supply the `peridio-release-prn` header.|
    |x-peridio-architecture|A firmware architecture.|Legacy. See [deployment eligibility](/platform/reference/deployments#deployment-eligibility). The architecture of the device's currently active firmware. When supplying any `x-peridio` header, you should supply all `x-peridio` headers.|
    |x-peridio-platform|A firmware platform.|Legacy. See [deployment eligibility](/platform/reference/deployments#deployment-eligibility). The platform of the device's currently active firmware. When supplying any `x-peridio` header, you should supply all `x-peridio` headers.|
    |x-peridio-product|A firmware product.|Legacy. See [deployment eligibility](/platform/reference/deployments#deployment-eligibility). The product of the device's currently active firmware. When supplying any `x-peridio` header, you should supply all `x-peridio` headers.|
    |x-peridio-uuid|A firmware UUID.|Legacy. See [deployment eligibility](/platform/reference/deployments#deployment-eligibility). The UUID of the device's currently active firmware. When supplying any `x-peridio` header, you should supply all `x-peridio` headers.|
    |x-peridio-version|A firmware version.|Legacy. See [deployment eligibility](/platform/reference/deployments#deployment-eligibility). The version of the device's currently active firmware. When supplying any `x-peridio` header, you should supply all `x-peridio` headers.|
  title: Peridio Device API
  version: "1.0.0"
servers:
  - url: https://device.cremini.peridio.com
security:
  - MutualTLS: []
tags:
  - name: Devices
    id: devices
  - name: Tunnels
    id: tunnels
    description: |
      <div style="16px; border-left: 5px solid purple; background: lavender; border-radius: 5px; width: fit-content; padding: 16px;">
        <h5 style="color: black !important; text-transform: uppercase; display: flex; align-items: center;"><svg style="margin-right: 0.4em;" width="19.6px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" /></svg>Labs</h5>
        <p>This functionality is only available to select organizations participating in the Peridio closed beta program.</p>
        <p>Subject to breaking changes prior to general availability.</p>
        <p>For more information, see <a style="color: #1C1E21; text-decoration: underline;" href="/platform/introduction#labs">content labels</a>.</p>
      </div>
x-tagGroups:
  - name: "Endpoints"
    tags:
      - "Devices"
      - "Tunnels"
paths:
  /device/me:
    get:
      operationId: get-device-me
      summary: get device me
      description: |
        Returns information about the device identified by the request's authentication.

        ### Expandable

        This endpoint has an expandable response. See [expanding responses](/admin-api#section/Expanding-Responses).
      tags:
        - "Devices"
      parameters:
        - in: header
          name: peridio-release-prn
          schema:
            description: See [global headers](#global-headers).
            examples:
              [
                prn:1:a1ed0c4e-f222-4bb3-89dc-48320018875d:release:e4bf3021-b8d7-42d5-a1bd-52121427ebd0,
              ]
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: false
        - in: header
          name: peridio-release-version
          schema:
            description: See [global headers](#global-headers).
            $ref: "peridio-admin-openapi.yaml#/components/schemas/release-version"
          required: false
        - name: expand
          description: |
            See [expanding responses](https://docs.peridio.com/admin-api#section/Expanding-Responses).

            **Expandable Fields**

            For more information on each field, reference the response.

            - `cohort`
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      cohort:
                        $ref: "peridio-admin-openapi.yaml#/components/schemas/cohort"
                        description: |
                          Expand required. See [expanding responses](#section/Expanding-Responses).

                          The cohort the device belongs to.
                      identifier:
                        $ref: "peridio-admin-openapi.yaml#/components/schemas/device-identifier"
                      quarantined:
                        type: boolean
  /device/update:
    get:
      operationId: get-device-update
      summary: get device update
      description: |
        This functionality has been superceded by [get update](#devices/operation/get-update).

        Returns information regarding whether an update is available via a [deployment](/admin-api#deployments).

        If an update is available, additional information describing the update is returned including a presigned URL to acquire the update.
      tags:
        - "Devices"
      parameters:
        - in: header
          name: x-peridio-uuid
          schema:
            description: See [global headers](#global-headers).
            $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-uuid"
          required: true
        - in: header
          name: peridio-release-prn
          schema:
            description: See [global headers](#global-headers).
            examples:
              [
                prn:1:a1ed0c4e-f222-4bb3-89dc-48320018875d:release:e4bf3021-b8d7-42d5-a1bd-52121427ebd0,
              ]
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: false
        - in: header
          name: peridio-release-version
          schema:
            description: See [global headers](#global-headers).
            $ref: "peridio-admin-openapi.yaml#/components/schemas/release-version"
          required: false
        - name: preflight
          in: query
          required: false
          schema:
            type: boolean
            default: false
            description: |
              **When `false`**

              The request will count towards update attempts. `firmware_url` in the response will be set to a presigned URL.

              **When `true`**

              The request will not count towards update attempts. `firmware_url` in the response will be `null`.

              For example, one may use `true` to check if an update is available when you don't yet intend to consume the update so that a device does not rack up a number of incomplete updates and eventually get quarantined (pending the failure configuration set on the relevant deployment).
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      update_available:
                        description: |
                          An update may not be available if:

                            1. There is no applicable deployment, i.e., the device is up to date.
                            2. The device or an applicable deployment is quarantined.
                        type: boolean
                      firmware_url:
                        description: A presigned HTTPS URL. Expires in 24 hours.
                        oneOf:
                          - type: "null"
                          - type: string
                      firmware_meta:
                        oneOf:
                          - type: "null"
                          - $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-metadata"
                      deployment_id:
                        description: This is a vestigial field whose value is always `null`.
                        type: "null"

  /update:
    get:
      operationId: get-update
      summary: get update
      description: |
        Returns information regarding whether an update is available via a [release](/admin-api#releases).

        ### Expandable

        This endpoint has an expandable response. By default, only the `status` field is returned. See [expanding responses](/admin-api#section/Expanding-Responses).
      tags:
        - "Devices"
      parameters:
        - in: header
          name: peridio-release-prn
          schema:
            description: See [global headers](#global-headers).
            examples:
              [
                prn:1:a1ed0c4e-f222-4bb3-89dc-48320018875d:release:e4bf3021-b8d7-42d5-a1bd-52121427ebd0,
              ]
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: false
        - in: header
          name: peridio-release-version
          schema:
            description: See [global headers](#global-headers).
            $ref: "peridio-admin-openapi.yaml#/components/schemas/release-version"
          required: false
        - name: expand
          description: |
            See [expanding responses](https://docs.peridio.com/admin-api#section/Expanding-Responses).

            **Expandable Fields**

            For more information on each field, reference the response.

            - `bundle`
            - `release`
            - `manifest`
              - `artifact`
              - `artifact_version`
              - `binary_prn`
              - `custom_metadata`
              - `hash`
              - `signatures`
              - `size`
              - `url`
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  status:
                    enum:
                      - "update"
                      - "no_update"
                      - "device_quarantine"
                  release:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/release"
                    description: |
                      Expand required. See [expanding responses](#section/Expanding-Responses).

                      The target release with respect to [release resolution](/platform/reference/releases#release-resolution).
                  bundle:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/bundle"
                    description: |
                      Expand required. See [expanding responses](#section/Expanding-Responses).

                      The bundle associated with `release`.
                  custom_metadata:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/custom-metadata"
                    description: |
                      Expand required. See [expanding responses](#section/Expanding-Responses).

                      A JSON object that device's may use to inform decisions regarding last mile application of the binary including: downloading, persisting, installing, and custom use cases.

                      Max size is 1,000,000 bytes (1 MB).
                  manifest:
                    description: |
                      Expand required. See [expanding responses](#section/Expanding-Responses).

                      The manifest associated with `bundle`. Includes metadata about the binaries available to download, including a presigned download url.
                    type: array
                    items:
                      type: object
                      properties:
                        artifact:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/artifact"
                          description: |
                            Expand required. See [expanding responses](#section/Expanding-Responses).

                            The artifact associated with `artifact_version`.
                        artifact_version:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/artifact-version"
                          description: |
                            Expand required. See [expanding responses](#section/Expanding-Responses).

                            The artifact version associated with `binary_prn`.
                        binary_prn:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
                        hash:
                          type: string
                        signatures:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/array-of-signatures"
                        size:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/binary-size"
                        url:
                          type: string
  /tunnels:
    get:
      operationId: list-tunnels
      summary: List tunnels
      description: |
        This only returns `:requested` and `:open` tunnels.

        <a style="display: flex; margin-bottom: 16px; background: purple; color: white; border-radius: 5px; padding: 2px 4px; width: fit-content;" href="/device-api#tunnels">
          <svg style="margin-right: 0.4em;" width="19.6px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" /></svg>Labs
        </a>

        For list options, we only support pagination params.
      tags:
        - "Tunnels"
      parameters:
        - $ref: "peridio-admin-openapi.yaml#/components/parameters/page"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  tunnels:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/array-of-tunnels"
                  next_page:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/next-page"
  /tunnels/configure:
    post:
      operationId: configure-a-tunnel
      summary: Configure a tunnel
      description: |
        Configures a tunnel with device networking data.

        <a style="display: flex; margin-bottom: 16px; background: purple; color: white; border-radius: 5px; padding: 2px 4px; width: fit-content;" href="/device-api#tunnels">
          <svg style="margin-right: 0.4em;" width="19.6px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" /></svg>Labs
        </a>

        If successful, the tunnel's state will be `open`. Only tunnels with a state of `requested` can be configured.
      tags:
        - "Tunnels"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                tunnel_prn:
                  $ref: "peridio-admin-openapi.yaml#/components/schemas/tunnel-prn"
                cidr_blocks:
                  $ref: "peridio-admin-openapi.yaml#/components/schemas/cidrs"
                  description: |
                    A set of CIDR blocks that the device has available for use with remote access. The device's wireguard peer IP as well as wireguard interface IP will be choosen from this set so it must contain at least two distinct IPs.
                port_ranges:
                  $ref: "#/components/schemas/port-ranges"
                  examples: [[45000-46000, 47000-48000]]
                  description: |
                    A set of port ranges that the device has available for use with remote access. The device can use this to constrain the pool of ports from which Peridio will choose the wireguard server listen port, that is, the port on which the server is listening for wireguard UDP traffic.
                device_proxy_port:
                  type: number
                  description: The port on which the device is listening for wireguard UDP traffic.
                  examples: [53000]
                device_public_key:
                  type: string
                  examples: [Y4nCIXdpb+f3WgPi0377FDPCAfP+st82s98lTRepHEk=]
                  description: The device's public key for wireguard.
              required:
                - cidr_blocks
                - device_proxy_port
                - device_public_key
                - port_ranges
                - tunnel_prn
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                      - $ref: "peridio-admin-openapi.yaml#/components/schemas/tunnel"
                      - type: object
                        properties:
                          state:
                            examples: ["open"]
  /tunnels/{tunnel_prn}:
    patch:
      operationId: update-a-tunnel
      summary: Update a tunnel
      description: |
        Update a tunnel currently only allows changing a tunnel to a closed state.

        <a style="display: flex; margin-bottom: 16px; background: purple; color: white; border-radius: 5px; padding: 2px 4px; width: fit-content;" href="/device-api#tunnels">
          <svg style="margin-right: 0.4em;" width="19.6px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" /></svg>Labs
        </a>
      tags:
        - "Tunnels"
      parameters:
        - name: tunnel_prn
          in: path
          required: true
          schema:
            $ref: "peridio-admin-openapi.yaml#/components/schemas/tunnel-prn"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                state:
                  type: string
                  examples: [closed]
                  description: The state we want the tunnel to be in. Only accepts "closed".
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                      - $ref: "peridio-admin-openapi.yaml#/components/schemas/tunnel"
                      - type: object
                        properties:
                          state:
                            examples: ["closed"]
components:
  securitySchemes:
    MutualTLS:
      type: mutualTLS
      description: The provided client certificate must be signed by a [CA certificate](https://docs.peridio.com/reference/ca-certificates) registered with Peridio.
  schemas:
    port-ranges:
      type: array
      items:
        type: string
