---
openapi: 3.1.0
info:
  title: Peridio Admin API
  version: "v1"
  license:
    name: Peridio
    url: https://github.com/peridio/parasola/blob/main/LICENSE
  description: |
    # Expanding Responses

    Some endpoints are able to return more data than they normally do by expanding their response. When this is possible the endpoint will specify the `expand` field and will document which fields can be expanded. The expand field takes an array of string field names that identify which fields you wish to expand.

    ## Expanding Fields

    To expand a single field, you may specify it as part of the query.

    For example:

    ```text
    /example-endpoint?expand[]=bar
    ```

    This will cause the `bar` key and its value to be included in the response. If `bar` itself has expandable fields, see [path expands](#section/Expanding-Responses/Path-Expands).

    ## Path Expands

    If the field you wish to expand is not a top level key within the response, you may specify it using dot notation.

    For example:

    ```text
    /example-endpoint?expand[]=foo.bar
    ```

    If `foo` itself is not an expandable field, this will work like a normal field expand. The `bar` key and its value will be included in the response nested under the `foo` key.

    If `foo` is an expandable field, see [nested expands](#section/Expanding-Responses/Nested-Expands).

    ## Expanding Multiple Fields

    To expand more than one field, you may add additional expands to the query.

    For example:

    ```text
    /example-endpoint?expand[]=bar&expand[]=baz
    ```

    ## Nested Expands

    If you are already expanding a field, `foo`, and it has its own expandable field(s), `bar`, you may additionally expand bar as follows.

    ```text
    /example-endpoint?expand[]=foo&expand[]=foo.bar
    ```

    The `foo` key and its value will be included in the response. Additionally, The `bar` key and its value will be included in the response nested under the `foo` key.

    If you wish to expand the `bar` key, but are not interested in the other keys on `foo`, see [granular expands](#section/Expanding-Responses/Granular-Expands).

    ## Granular Expands

    If `foo` is an expandable field whose keys you are not interested in except for its own expandable field `bar`, you may do the following.

    ```text
    /example-endpoint?expand[]=foo.bar
    ```

    The `foo` key will exist, but its value will only have the `bar` key, discluding all other sibling keys you did not explicitly ask for.

    # Search Query Language

    Some endpoints specify a `search` parameter. The value of this parameter must be a string that
    contains a valid query as defined by this search query language.

    **IMPORTANT NOTICE**

    Every list-type endpoint that accepts a `search` parameter requires that the search parameter is supplied, and furthermore that an organization PRN clause is provided in the search like so: `organization_prn:'value'`.

    ## Queries

    A query consists of at least one and at most five clauses joined by the `and` keyword.

    For example:

    ```text
    inserted_at>='2023-01-01T00:00:00Z' and description~'east blue'
    ```

    ## Clauses

    A clause consists of a key, an operator, and a value.

    For example:

    ```text
    inserted_at>='2023-01-01T00:00:00Z'
    ```

    ## Keys

    When performing a search, the set of valid keys is defined by the relevant endpoint's `search`
    parameter's documentation.

    ## Operators

    Each key an endpoint specifies as searchable will be associated with a set of operators that
    are valid to use with it. Below are all possible operators and their associated operation:

    |Keyword|Operation|
    |-|-|
    |`:`|equals (case-sensitive)|
    |`-`|substring (case-insensitive)|
    |`~`|substring (case-sensitive)|
    |`<`|less than|
    |`<=`|less than or equal to|
    |`>`|greater than|
    |`>=`|greater than or equal to|

    ## Values

    Each key will specify which type of value it acepts.

    ### String

    You must use single quotes when supplying a string. You can escape single quotes inside of
    single quotes with a backslash (`\`).

    For example:

    ```text
    summary~'zoro\'s three sword style'
    ```

    ### Boolean

    Boolean values are supplied either `true` or `false` without single quotes.

    For example:

    ```text
    archived:true
    ```

    ### Date-Time

    You must use single quotes when supplying a date-time and you must use the following
    representation: `'[YYYY]-[MM]-[DD]T[HH]:[MM]:[SS]Z'`. The timezone is always UTC.

    For example:

    ```text
    inserted_at:'2023-01-01T00:00:00Z'
    ```

    ### Numeric

    Numeric values are supplied as-is without single quotes.

    For example:

    ```text
    berries:100000000
    ```
servers:
  - url: https://api.cremini.peridio.com
security:
  - api_key: []
tags:
  - name: Deployments
    id: deployments
    description: This functionality has been superceded by [bundles](#bundles) and [releases](#releases).
  - name: Bundles
    id: bundles
  - name: Organization Users
    id: organization-users
  - name: Product Users
    id: product-users
  - name: Users
    id: users
  - name: Artifacts
    id: artifacts
  - name: Artifact Versions
    id: artifact-versions
  - name: Binaries
    id: binaries
  - name: Binary Parts
    id: binary-parts
  - name: Binary Signatures
    id: binary-signatures
  - name: Keys
    id: keys
    description: Use [signing keys](#signing-keys) instead.
  - name: Signing Keys
    id: signing-keys
  - name: Firmware
    id: firmware
    description: |
      <div style="16px; border-left: 5px solid chocolate; background: burlywood; border-radius: 5px; width: fit-content; padding: 16px;">
      <h5 style="color: black !important; text-transform: uppercase; display: flex; align-items: center;"><svg style="margin-right: 0.4em" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="19.6px"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /></svg>Legacy</h5>
        <p>This functionality is only available to select organizations participating in the Peridio closed beta program.</p>
        <p>Subject to breaking changes prior to general availability.</p>
        <p>For more information, see <a style="color: #1C1E21; text-decoration: underline;" href="/platform/introduction#labs">content labels</a>.</p>
      </div>
      This functionality has been superceded by [artifacts](#artifacts), [artifact versions](#artifact-versions), and [binaries](#binaries).
  - name: CA Certificates
    id: ca-certificates
  - name: Cohorts
    id: cohorts
  - name: Device Certificates
    id: device-certificates
  - name: Devices
    id: devices
  - name: Products
    id: products
  - name: Releases
    id: releases
  - name: Tunnels
    id: tunnels
    description: |
      <div style="16px; border-left: 5px solid purple; background: lavender; border-radius: 5px; width: fit-content; padding: 16px;">
        <h5 style="color: black !important; text-transform: uppercase; display: flex; align-items: center;"><svg style="margin-right: 0.4em;" width="19.6px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" /></svg>Labs</h5>
        <p>This functionality is only available to select organizations participating in the Peridio closed beta program.</p>
        <p>Subject to breaking changes prior to general availability.</p>
        <p>For more information, see <a style="color: #1C1E21; text-decoration: underline;" href="/platform/introduction#labs">content labels</a>.</p>
      </div>
  - name: Device Events
    id: device-events
    description: Events created due to device activity.
  - name: Webhook Events
    id: webhook-events
    description: Events created due to webhook activity.
  - name: Webhooks
    id: webhooks
  - name: Web Console
    id: web-console
x-tagGroups:
  - name: Account Management
    tags:
      - Organization Users
      - Product Users
      - Users
  - name: Binary Management
    tags:
      - Artifacts
      - Artifact Versions
      - Binaries
      - Binary Parts
      - Binary Signatures
      - Keys
      - Signing Keys
      - Firmware
  - name: Remote Access
    tags:
      - Tunnels
      - Web Console
  - name: Device Management
    tags:
      - CA Certificates
      - Cohorts
      - Device Certificates
      - Devices
      - Products
  - name: Integration Management
    tags:
      - Webhooks
  - name: Release Management
    tags:
      - Bundles
      - Deployments
      - Releases
  - name: Events
    tags:
      - Device Events
      - Webhook Events
paths:
  /tunnels:
    get:
      operationId: list-tunnels
      summary: List tunnels
      description: |
        <a style="display: flex; margin-bottom: 16px; background: purple; color: white; border-radius: 5px; padding: 2px 4px; width: fit-content;" href="/device-api#tunnels">
          <svg style="margin-right: 0.4em;" width="19.6px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" /></svg>Labs
        </a>

        **Search**

        This resource has the following searchable fields.

        |Key|Required|Operators|Value|
        |-|-|-|-|
        |`state`||`:`|string|
        |`device_prn`||`:`|prn|
        |`organization_prn`|X|`:`|prn|

        `state` can be one of `requested`, `open`, `closed`.

      tags:
        - "Tunnels"
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/page"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                search:
                  $ref: "#/components/schemas/search-with-org"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  tunnels:
                    $ref: "#/components/schemas/array-of-tunnels"
                  next_page:
                    $ref: "#/components/schemas/next-page"
    post:
      operationId: create-a-tunnel
      summary: Create a tunnel
      description: |
        Create a tunnel to a device for remote access.

        <a style="display: flex; margin-bottom: 16px; background: purple; color: white; border-radius: 5px; padding: 2px 4px; width: fit-content;" href="/admin-api#tunnels">
          <svg style="margin-right: 0.4em;" width="19.6px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" /></svg>Labs
        </a>

        The tunnel is available via a public IP address and port for a configurable amount of time. Anyone can send data through the tunnel and it is your responsibility to enforce authentication and authorization if desired.
      tags:
        - Tunnels
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                device_prn:
                  $ref: "#/components/schemas/device-prn"
                  description: |
                    Identifies which device to create a tunnel for.
                device_tunnel_port:
                  $ref: "#/components/schemas/device-tunnel-port"
                cidr_block_allowlist:
                  $ref: "#/components/schemas/cidr-block-allowlist"
                ttl:
                  type: number
                  default: 3600
                  description: The amount of time in seconds that the tunnel is available for.
                  minimum: 0
                  maximum: 3600
              required:
                - device_prn
                - device_tunnel_port
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tunnel"
  /tunnels/{tunnel_prn}:
    patch:
      operationId: update-a-tunnel
      summary: Update a tunnel
      description: |
        Update a tunnel currently only allows changing a tunnel to a closed state.

        <a style="display: flex; margin-bottom: 16px; background: purple; color: white; border-radius: 5px; padding: 2px 4px; width: fit-content;" href="/device-api#tunnels">
          <svg style="margin-right: 0.4em;" width="19.6px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 0 1-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 0 1 4.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0 1 12 15a9.065 9.065 0 0 0-6.23-.693L5 14.5m14.8.8 1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0 1 12 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" /></svg>Labs
        </a>
      tags:
        - "Tunnels"
      parameters:
        - name: tunnel_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/tunnel-prn"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                state:
                  type: string
                  examples: [closed]
                  description: The state we want the tunnel to be in. Only accepts "closed".
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/tunnel"
                      - type: object
                        properties:
                          state:
                            examples: ["closed"]
  /web-console-shells:
    post:
      operationId: create-a-web-console-shell
      summary: Create a web console shell
      description: |
        Create a self-authenticating, one-time use, expiring URL to a device remote shell in the Peridio web console.

        Once a request is made to the returned URL, it cannot be used again. For example, refreshing the page will fail.

        You must supply either:

          - `device_prn`

        Or:

          - `device_identifier` and `organization_prn`
      tags:
        - "Web Console"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                device_identifier:
                  $ref: "#/components/schemas/device-identifier"
                  description: |
                    Identifies which device to create a web console shell for.

                    Mutually exclusive with `device_prn`.
                device_prn:
                  $ref: "#/components/schemas/device-prn"
                  description: |
                    Identifies which device to create a web console shell for.

                    Mutually exclusive with `device_identifier`.
                organization_prn:
                  $ref: "#/components/schemas/device-prn"
                  description: |
                    Identifies which organization the device belongs to if supplying `device_identifier`. This param is unnecessary if you supply the `device_prn` param.

                    Mutually exclusive with `device_prn`.
                ttl:
                  type: integer
                  default: 3600
                  description: The amount of time in seconds that the URL is valid for. Open connections are closed automatically upon expiration.
                  minimum: 0
                  maximum: 86400
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  expires_at:
                    type: string
                    format: date-time
                    description: When the `url` expires, after which it will be invalid.
                  url:
                    type: string
                    format: uri
                    example: https://console.peridio.com/organizations/20301a4f-edca-46ea-89c0-2e92c3dcb0b9/devices/5b615a57-3712-481c-80bb-281f79b1533e/shell/aa63c5e7-d8c7-43e6-a7f5-9f8b63c91ed6
                    description: This value is sensitive. Anyone with access to a self-authenticating URL can use it until it has been consumed or expired.
  /artifacts:
    post:
      operationId: create-an-artifact
      summary: Create an artifact
      tags:
        - "Artifacts"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                custom_metadata:
                  $ref: "#/components/schemas/custom-metadata-artifact"
                description:
                  $ref: "#/components/schemas/artifact-description"
                name:
                  $ref: "#/components/schemas/artifact-name"
                organization_prn:
                  $ref: "#/components/schemas/prn"
              required:
                - organization_prn
                - name
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  artifact:
                    $ref: "#/components/schemas/artifact"
    get:
      operationId: list-artifacts
      summary: List artifacts
      description: |
        **Search**

        This resource has the following searchable fields.

        |Key|Required|Operators|Value|
        |-|-|-|-|
        |`description`||`:`, `~`|string|
        |`inserted_at`||`:`, `>`, `>=`, `<`, `<=`|date-time|
        |`name`||`:`, `~`|string|
        |`organization_prn`|X|`:`|prn|
        |`prn`||`:`|string|
        |`updated_at`||`:`, `>`, `>=`, `<`, `<=` |date-time|

      tags:
        - "Artifacts"
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  artifacts:
                    $ref: "#/components/schemas/array-of-artifacts"
                  next_page:
                    $ref: "#/components/schemas/next-page"
  /artifacts/{artifact_prn}:
    get:
      operationId: retrieve-an-artifact
      summary: Retrieve an artifact
      tags:
        - "Artifacts"
      parameters:
        - name: artifact_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  artifact:
                    $ref: "#/components/schemas/artifact"
    patch:
      operationId: update-an-artifact
      summary: Update an artifact
      tags:
        - "Artifacts"
      parameters:
        - name: artifact_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                custom_metadata:
                  $ref: "#/components/schemas/custom-metadata-artifact"
                description:
                  $ref: "#/components/schemas/artifact-description"
                name:
                  $ref: "#/components/schemas/artifact-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  artifact:
                    $ref: "#/components/schemas/artifact"
  /artifact_versions:
    post:
      operationId: create-an-artifact-version
      summary: Create an artifact version
      tags:
        - "Artifact Versions"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                artifact_prn:
                  $ref: "#/components/schemas/prn"
                custom_metadata:
                  $ref: "#/components/schemas/custom-metadata-artifact-version"
                description:
                  $ref: "#/components/schemas/artifact-version-description"
                version:
                  $ref: "#/components/schemas/artifact-version-version"
              required:
                - artifact_prn
                - version
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  artifact_version:
                    $ref: "#/components/schemas/artifact-version"
    get:
      operationId: list-artifact-versions
      summary: List artifact versions
      description: |
        **Search**

        This resource has the following searchable fields.

        |Key|Required|Operators|Value|
        |-|-|-|-|
        |`artifact_prn`||`:`|string|
        |`description`||`:`, `~`|string|
        |`inserted_at`||`:`, `>`, `>=`, `<`, `<=`|date-time|
        |`name`||`:`, `~`|string|
        |`organization_prn`|X|`:`|prn|
        |`prn`||`:`|string|
        |`updated_at`||`:`, `>`, `>=`, `<`, `<=` |date-time|

      tags:
        - "Artifact Versions"
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  artifact_versions:
                    $ref: "#/components/schemas/array-of-artifact-versions"
                  next_page:
                    $ref: "#/components/schemas/next-page"
  /artifact_versions/{artifact_version_prn}:
    get:
      operationId: retrieve-an-artifact-version
      summary: Retrieve artifact version
      tags:
        - "Artifact Versions"
      parameters:
        - name: artifact_version_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  artifact_version:
                    $ref: "#/components/schemas/artifact-version"
    patch:
      operationId: update-an-artifact-version
      summary: Update an artifact version
      tags:
        - "Artifact Versions"
      parameters:
        - name: artifact_version_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                custom_metadata:
                  $ref: "#/components/schemas/custom-metadata-artifact-version"
                description:
                  $ref: "#/components/schemas/artifact-version-description"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  artifact_version:
                    $ref: "#/components/schemas/artifact-version"
  /binaries:
    post:
      operationId: create-a-binary
      summary: Create a binary
      description: |
        Create a binary record.
      tags:
        - "Binaries"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                artifact_version_prn:
                  $ref: "#/components/schemas/prn"
                custom_metadata:
                  $ref: "#/components/schemas/custom-metadata-binary"
                description:
                  $ref: "#/components/schemas/binary-description"
                hash:
                  $ref: "#/components/schemas/binary-hash"
                size:
                  $ref: "#/components/schemas/binary-size"
                target:
                  $ref: "#/components/schemas/target-triplet"
              required:
                - artifact_version_prn
                - hash
                - size
                - target
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  binary:
                    $ref: "#/components/schemas/binary"
    get:
      operationId: list-binaries
      summary: List binaries
      description: |
        **Search**

        This resource has the following searchable fields.

        |Key|Required|Operators|Value|
        |-|-|-|-|
        |`artifact_version_prn`||`:`|string|
        |`description`||`:`, `~`|string|
        |`hash`||`:`|string|
        |`inserted_at`||`:`, `>`, `>=`, `<`, `<=`|date-time|
        |`organization_prn`|X|`:`|prn|
        |`prn`||`:`|string|
        |`size`||`:`, `>`, `>=`, `<`, `<=` |integer|
        |`target`||`:`, `~`|string|
        |`updated_at`||`:`, `>`, `>=`, `<`, `<=` |date-time|

      tags:
        - "Binaries"
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  binaries:
                    $ref: "#/components/schemas/array-of-binaries"
                  next_page:
                    $ref: "#/components/schemas/next-page"
  /binaries/{binary_prn}:
    get:
      operationId: retrieve-a-binary
      summary: Retrieve a binary
      tags:
        - "Binaries"
      parameters:
        - name: binary_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  binary:
                    $ref: "#/components/schemas/binary"
    patch:
      operationId: update-a-binary
      summary: Update a binary
      tags:
        - "Binaries"
      parameters:
        - name: binary_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                custom_metadata:
                  $ref: "#/components/schemas/custom-metadata-binary"
                description:
                  $ref: "#/components/schemas/binary-description"
                state:
                  $ref: "#/components/schemas/binary-state"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  binary:
                    $ref: "#/components/schemas/binary"
  /binaries/{binary_prn}/parts/{index}:
    put:
      operationId: create-a-binary-part
      summary: Create a Binary Part
      description: |
        Create a binary part.
      tags:
        - "Binary Parts"
      parameters:
        - name: binary_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
        - name: index
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/binary-part-index"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                expected_binary_size:
                  $ref: "#/components/schemas/binary-part-size"
                hash:
                  $ref: "#/components/schemas/binary-part-hash"
                size:
                  $ref: "#/components/schemas/binary-part-size"
              required:
                - expected_binary_size
                - hash
                - size
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  binary_part:
                    $ref: "#/components/schemas/binary-part"
  /binaries/{binary_prn}/parts:
    get:
      operationId: list-binary-parts
      summary: List binary parts
      tags:
        - "Binary Parts"
      parameters:
        - name: binary_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  binary_parts:
                    $ref: "#/components/schemas/array-of-binary-parts"
  /binary_signatures:
    post:
      operationId: create-a-binary-signature
      summary: Create a binary signature
      tags:
        - "Binary Signatures"
      description: |
        Attach a signature to a binary.

        This endpoint must be used against a binary that is already uploaded completely. The
        request will fail if the signature is invalid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                binary_prn:
                  $ref: "#/components/schemas/prn"
                signing_key_prn:
                  $ref: "#/components/schemas/prn"
                signature:
                  $ref: "#/components/schemas/binary-signature-signature"
              required:
                - binary_prn
                - signing_key_prn
                - signature
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  binary_signature:
                    $ref: "#/components/schemas/binary-signature"
  /binary_signatures/{binary_signature_prn}:
    delete:
      operationId: delete-a-binary-signature
      summary: Delete a binary signature
      tags:
        - "Binary Signatures"
      parameters:
        - name: binary_signature_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      responses:
        "204":
          description: Ok.
  /bundles:
    post:
      operationId: create-a-bundle
      summary: Create a bundle
      tags:
        - Bundles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                organization_prn:
                  $ref: "#/components/schemas/prn"
                artifact_version_prns:
                  $ref: "#/components/schemas/array-of-artifact-version-prns"
                name:
                  $ref: "#/components/schemas/bundle-name"
              required:
                - artifact_version_prns
                - organization_prn
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  bundle:
                    $ref: "#/components/schemas/bundle"
    get:
      operationId: list-bundles
      summary: list bundles
      description: |
        **Search**

        This resource has the following searchable fields.

        |Key|Required|Operators|Value|
        |-|-|-|-|
        |`inserted_at`||`:`, `>`, `>=`, `<`, `<=`|date-time|
        |`name`||`:`, `~`, `-`|string|
        |`organization_prn`|X|`:`|prn|
        |`prn`||`:`|string|
        |`updated_at`||`:`, `>`, `>=`, `<`, `<=` |date-time|

      tags:
        - "Bundles"
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  bundles:
                    $ref: "#/components/schemas/array-of-bundles"
                  next_page:
                    $ref: "#/components/schemas/next-page"
  /bundles/{bundle_prn}:
    get:
      operationId: retrieve-a-bundle
      summary: Retrieve a bundle
      tags:
        - "Bundles"
      parameters:
        - name: bundle_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  bundle:
                    $ref: "#/components/schemas/bundle"
    patch:
      operationId: update-a-bundle
      summary: Update a bundle
      tags:
        - "Bundles"
      parameters:
        - name: bundle_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/components/schemas/bundle-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  bundle:
                    $ref: "#/components/schemas/bundle"
  /cohorts:
    post:
      operationId: create-a-cohort
      summary: Create a cohort
      tags:
        - Cohorts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                description:
                  $ref: "#/components/schemas/cohort-description"
                name:
                  $ref: "#/components/schemas/cohort-name"
                organization_prn:
                  $ref: "#/components/schemas/prn"
                product_prn:
                  $ref: "#/components/schemas/prn"
              required:
                - name
                - organization_prn
                - product_prn
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  cohort:
                    $ref: "#/components/schemas/cohort"
    get:
      operationId: list-cohorts
      summary: List cohorts
      description: |
        **Search**

        This resource has the following searchable fields.

        |Key|Required|Operators|Value|
        |-|-|-|-|
        |`description`||`:`, `~`|string|
        |`inserted_at`||`:`, `>`, `>=`, `<`, `<=`|date-time|
        |`name`||`:`, `~`|string|
        |`organization_prn`|X|`:`|prn|
        |`prn`||`:`|string|
        |`updated_at`||`:`, `>`, `>=`, `<`, `<=` |date-time|

      tags:
        - "Cohorts"
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  cohorts:
                    $ref: "#/components/schemas/array-of-cohorts"
                  next_page:
                    $ref: "#/components/schemas/next-page"
  /cohorts/{cohort_prn}:
    get:
      operationId: retrieve-a-cohort
      summary: Retrieve a cohort
      tags:
        - Cohorts
      parameters:
        - name: cohort_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  cohort:
                    $ref: "#/components/schemas/cohort"
    patch:
      operationId: update-a-cohort
      summary: Update a cohort
      tags:
        - Cohorts
      parameters:
        - name: cohort_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                description:
                  $ref: "#/components/schemas/cohort-description"
                name:
                  $ref: "#/components/schemas/cohort-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  cohort:
                    $ref: "#/components/schemas/cohort"
  /signing_keys:
    post:
      operationId: create-a-signing-key
      summary: Create a signing key
      tags:
        - Signing Keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                value:
                  $ref: "#/components/schemas/signing-key-value"
                name:
                  $ref: "#/components/schemas/signing-key-name"
                organization_prn:
                  $ref: "#/components/schemas/prn"
              required:
                - name
                - organization_prn
                - value
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  signing_key:
                    $ref: "#/components/schemas/signing-key"
    get:
      operationId: list-signing-keys
      summary: List signing keys
      description: |
        **Search**

        This resource has the following searchable fields.

        |Key|Required|Operators|Value|
        |-|-|-|-|
        |`inserted_at`||`:`, `>`, `>=`, `<`, `<=`|date-time|
        |`name`||`:`, `~`|string|
        |`organization_prn`|X|`:`|prn|
        |`prn`||`:`|string|
        |`updated_at`||`:`, `>`, `>=`, `<`, `<=` |date-time|
        |`value`||`:`|string|

      tags:
        - Signing Keys
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  signing_keys:
                    $ref: "#/components/schemas/array-of-signing-keys"
                  next_page:
                    $ref: "#/components/schemas/next-page"
  /signing_keys/{signing_key_prn}:
    get:
      operationId: retrieve-a-signing-key
      summary: Retrieve a signing key
      tags:
        - Signing Keys
      parameters:
        - name: signing_key_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  signing_key:
                    $ref: "#/components/schemas/signing-key"
    patch:
      operationId: update-a-signing-key
      summary: Update a signing key
      tags:
        - Signing Keys
      parameters:
        - name: signing_key_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                value:
                  $ref: "#/components/schemas/signing-key-value"
                name:
                  $ref: "#/components/schemas/signing-key-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  signing_key:
                    $ref: "#/components/schemas/signing-key"
    delete:
      operationId: delete-a-signing-key
      summary: Delete a signing key
      tags:
        - Signing Keys
      parameters:
        - name: signing_key_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      responses:
        "204":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  signing_key:
                    $ref: "#/components/schemas/signing-key"

  /orgs/{organization_name}/ca_certificates:
    get:
      operationId: list-ca-certificates
      summary: List CA certificates
      tags:
        - "CA Certificates"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/array-of-ca-certificates"
    post:
      operationId: create-a-ca-certificate
      summary: Create a CA certificate
      tags:
        - "CA Certificates"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                certificate:
                  description: Base64 encoded CA certificate.
                  type: string
                verification_certificate:
                  description: >
                    Base64 encoded verification certificate.

                    See: [create-a-ca-verification-code](/admin-api#ca-certificates/operation/create-a-ca-verification-code)
                  type: string
                description:
                  type: string
                jitp:
                  $ref: "#/components/schemas/ca-jitp"
              required:
                - certificate
                - verification_certificate
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ca-certificate"
  /orgs/{organization_name}/ca_certificates/{ca_certificate_serial}:
    delete:
      operationId: delete-a-ca-certificate
      summary: Delete a CA certificate
      tags:
        - "CA Certificates"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: ca_certificate_serial
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ca-certificate-serial"
      responses:
        "204":
          description: Ok.
    get:
      operationId: retrieve-a-ca-certificate
      summary: Retrieve a CA certificate
      tags:
        - "CA Certificates"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: ca_certificate_serial
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ca-certificate-serial"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ca-certificate"
    put:
      operationId: update-a-ca-certificate
      summary: Update CA certificate
      tags:
        - "CA Certificates"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: ca_certificate_serial
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/ca-certificate-serial"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                description:
                  type: string
                jitp:
                  $ref: "#/components/schemas/ca-jitp"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ca-certificate"
  /orgs/{organization_name}/ca_certificates/verification_codes:
    post:
      operationId: create-a-ca-verification-code
      summary: Create a CA verification code
      tags:
        - "CA Certificates"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/ca-verification-code"
  /orgs/{organization_name}/keys:
    get:
      operationId: list-keys
      deprecated: true
      summary: List keys
      tags:
        - "Keys"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/array-of-keys"
    post:
      operationId: create-a-key
      deprecated: true
      summary: Create a key
      tags:
        - "Keys"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                key:
                  $ref: "#/components/schemas/key-key"
                name:
                  $ref: "#/components/schemas/key-name"
              required:
                - key
                - name
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/key"
  /orgs/{organization_name}/keys/{key_name}:
    delete:
      operationId: delete-a-key
      deprecated: true
      summary: Delete a key
      tags:
        - "Keys"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: key_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/key-name"
      responses:
        "204":
          description: Ok.
    get:
      operationId: retrieve-a-key
      deprecated: true
      summary: Retrieve a key
      tags:
        - "Keys"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: key_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/key-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/key"
  /orgs/{organization_name}/products:
    get:
      deprecated: true
      operationId: list-products
      summary: List products
      tags:
        - "Products"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/array-of-products"
    post:
      deprecated: true
      operationId: create-a-product
      summary: Create a product
      tags:
        - "Products"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                name:
                  $ref: "#/components/schemas/product-name"
              required:
                - name
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/product"
  /orgs/{organization_name}/products/{product_name}:
    delete:
      deprecated: true
      operationId: delete-a-product
      summary: Delete a product
      tags:
        - "Products"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      responses:
        "204":
          description: Ok.
    get:
      deprecated: true
      operationId: retrieve-a-product
      summary: Retrieve a product
      tags:
        - "Products"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/product"
    put:
      deprecated: true
      operationId: update-a-product
      summary: Update a product
      tags:
        - "Products"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                product:
                  type: object
                  properties:
                    name:
                      $ref: "#/components/schemas/product-name"
              required:
                - product
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/product"
  /products:
    get:
      operationId: list-products-v2
      summary: List products v2
      description: |
        **Search**

        This resource has the following searchable fields.

        |Key|Required|Operators|Value|
        |-|-|-|-|
        |`deleted_at`||`:`, `>`, `>=`, `<`, `<=`|date-time|
        |`inserted_at`||`:`, `>`, `>=`, `<`, `<=`|date-time|
        |`name`||`:`, `~`|string|
        |`organization_prn`|X|`:`|prn|
        |`prn`||`:`|string|
        |`updated_at`||`:`, `>`, `>=`, `<`, `<=` |date-time|

      tags:
        - "Products"
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/search"
          description: |
            A search query per the [search query language](#section/Search-Query-Language).

            Searchable fields:

            |Field|Type|Operations|
            |-|-|-|
            |`archived`|boolean|`:`|
            |`inserted_at`|date-time|`:`, `>`, `>=`, `<`, `<=` |
            |`name`|string|`:`, `~`|
            |`organization_prn`|string|`:`|
            |`prn`|string|`:`|
            |`updated_at`|date-time|`:`, `>`, `>=`, `<`, `<=` |
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  products:
                    $ref: "#/components/schemas/array-of-products-v2"
                  next_page:
                    $ref: "#/components/schemas/next-page"
    post:
      operationId: create-a-product-v2
      summary: Create a product v2
      tags:
        - "Products"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                archived:
                  $ref: "#/components/schemas/product-archived"
                name:
                  $ref: "#/components/schemas/product-name"
                organization_prn:
                  $ref: "#/components/schemas/prn"
              required:
                - name
                - organization_prn
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  product:
                    $ref: "#/components/schemas/product-v2"
  /products/{product_prn}:
    get:
      operationId: retrieve-a-product-v2
      summary: Retrieve a product v2
      tags:
        - "Products"
      parameters:
        - name: product_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/product-v2"
    patch:
      operationId: update-a-product-v2
      summary: Update a product v2
      tags:
        - "Products"
      parameters:
        - name: product_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                archived:
                  $ref: "#/components/schemas/product-archived"
                  description: |
                    A product cannot be archived if any of the following are true:

                    - It is associated with any firmware.
                    - It is associated with any unarchived devices.
                name:
                  $ref: "#/components/schemas/product-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/product-v2"
  /orgs/{organization_name}/products/{product_name}/deployments:
    get:
      operationId: list-deployments
      summary: List deployments
      tags:
        - "Deployments"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/array-of-deployments"
    post:
      operationId: create-a-deployment
      summary: Create a deployment
      tags:
        - "Deployments"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                conditions:
                  $ref: "#/components/schemas/deployment-conditions"
                  required:
                    - tags
                delta_updatable:
                  $ref: "#/components/schemas/delta-updatable"
                  default: false
                firmware:
                  $ref: "#/components/schemas/firmware-uuid"
                is_active:
                  description: Must be `false`.
                  $ref: "#/components/schemas/deployment-is-active"
                name:
                  $ref: "#/components/schemas/deployment-name"
              required:
                - conditions
                - firmware
                - is_active
                - name
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/deployment"
  /orgs/{organization_name}/products/{product_name}/deployments/{deployment_name}:
    delete:
      operationId: delete-a-deployment
      summary: Delete a deployment
      tags:
        - "Deployments"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: deployment_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/deployment-name"
      responses:
        "204":
          description: Ok.
    get:
      operationId: retrieve-a-deployment
      summary: Retrieve a deployment
      tags:
        - "Deployments"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: deployment_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/deployment-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/deployment"
    put:
      operationId: update-a-deployment
      summary: Update a deployment
      tags:
        - "Deployments"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: deployment_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/deployment-name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                deployment:
                  type: object
                  properties:
                    name:
                      $ref: "#/components/schemas/deployment-name"
                    conditions:
                      $ref: "#/components/schemas/deployment-conditions"
                    delta_updatable:
                      $ref: "#/components/schemas/delta-updatable"
                    firmware:
                      $ref: "#/components/schemas/firmware-uuid"
                    is_active:
                      $ref: "#/components/schemas/deployment-is-active"
              required:
                - deployment
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/deployment"
  /orgs/{organization_name}/products/{product_name}/devices:
    get:
      operationId: list-devices
      summary: List devices
      tags:
        - "Devices"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/array-of-devices"
    post:
      operationId: create-a-device
      summary: Create a device
      tags:
        - "Devices"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                cohort_prn:
                  $ref: "#/components/schemas/device-cohort-prn"
                description:
                  $ref: "#/components/schemas/device-description"
                healthy:
                  $ref: "#/components/schemas/device-healthy"
                identifier:
                  $ref: "#/components/schemas/device-identifier"
                last_communication:
                  $ref: "#/components/schemas/device-last-communication"
                tags:
                  $ref: "#/components/schemas/array-of-device-tags"
                target:
                  $ref: "#/components/schemas/target-triplet"
              required:
                - identifier
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/device"
  /orgs/{organization_name}/products/{product_name}/devices/{device_identifier}:
    delete:
      operationId: delete-a-device
      summary: Delete a device
      tags:
        - "Devices"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: device_identifier
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/device-identifier"
      responses:
        "204":
          description: Ok.
    get:
      operationId: retrieve-a-device
      summary: Retrieve a device
      tags:
        - "Devices"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: device_identifier
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/device-identifier"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/device"
    put:
      operationId: update-a-device
      summary: Update a device
      tags:
        - "Devices"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: device_identifier
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/device-identifier"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                cohort_prn:
                  $ref: "#/components/schemas/device-cohort-prn"
                description:
                  $ref: "#/components/schemas/device-description"
                healthy:
                  $ref: "#/components/schemas/device-healthy"
                last_communication:
                  $ref: "#/components/schemas/device-last-communication"
                tags:
                  $ref: "#/components/schemas/array-of-device-tags"
                target:
                  $ref: "#/components/schemas/target-triplet"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/device"
  /orgs/{organization_name}/products/{product_name}/devices/{device_identifier}/certificates:
    get:
      operationId: list-device-certificates
      summary: List device certificates
      tags:
        - "Device Certificates"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: device_identifier
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/device-identifier"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/array-of-device-certificates"
    post:
      operationId: create-a-device-certificate
      summary: Create a device certificate
      tags:
        - "Device Certificates"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: device_identifier
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/device-identifier"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                cert:
                  $ref: "#/components/schemas/device-certificate-pem-base64"
              required:
                - cert
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/device-certificate"
  /orgs/{organization_name}/products/{product_name}/devices/{device_identifier}/certificates/{certificate_serial}:
    get:
      operationId: retrieve-a-device-certificate
      summary: Retrieve a device certificate
      tags:
        - "Device Certificates"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: device_identifier
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/device-identifier"
        - name: certificate_serial
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/device-certificate-serial"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/device-certificate"
    delete:
      operationId: delete-a-device-certificate
      summary: Delete a device certificate
      tags:
        - "Device Certificates"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: device_identifier
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/device-identifier"
        - name: certificate_serial
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/device-certificate-serial"
      responses:
        "204":
          description: Ok.
  /orgs/{organization_name}/products/{product_name}/devices/auth:
    post:
      operationId: authenticate-device
      summary: Authenticate device
      tags:
        - "Devices"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                certificate:
                  $ref: "#/components/schemas/device-certificate-pem-base64"
              required:
                - certificate
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/device"
  /orgs/{organization_name}/products/{product_name}/firmwares:
    get:
      operationId: list-firmware
      summary: List firmware
      tags:
        - "Firmware"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/array-of-firmware"
    post:
      operationId: create-a-firmware
      summary: Create a firmware
      tags:
        - "Firmware"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                firmware:
                  type: string
                  format: binary
                  description: Reference [firmware file requirements](/platform/reference/firmware#firmware-file-requirements).
                ttl:
                  type: integer
              required:
                - firmware
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/firmware"
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                properties:
                  errors:
                    oneOf:
                      - type: string
                        const: "invalid_signature"
                      - type: object
                        properties:
                          detail:
                            type: string
                            const: "Internal Server Error"
  /orgs/{organization_name}/products/{product_name}/firmwares/{firmware_uuid}:
    delete:
      operationId: delete-a-firmware
      summary: Delete a firmware
      tags:
        - "Firmware"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: firmware_uuid
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/firmware-uuid"
      responses:
        "204":
          description: Ok.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/firmware"
    get:
      operationId: retrieve-a-firmware
      summary: Retrieve a firmware
      description: |
        ### Expandable

        This endpoint has an expandable response. See [expanding responses](#section/Expanding-Responses).
      tags:
        - "Firmware"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: firmware_uuid
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/firmware-uuid"
        - name: expand
          description: |
            See [expanding responses](#section/Expanding-Responses).

            **Expandable Fields**

            For more information on each field, reference the response.

            - `url`
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/firmware"
                      - type: object
                        properties:
                          url:
                            $ref: "#/components/schemas/firmware-expand-url"
  /orgs/{organization_name}/products/{product_name}/users:
    get:
      operationId: list-product-users
      summary: List product users
      tags:
        - "Product Users"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/array-of-product-users"
    post:
      operationId: add-a-product-user
      summary: Add a product user
      tags:
        - "Product Users"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                role:
                  $ref: "#/components/schemas/role-name"
                username:
                  $ref: "#/components/schemas/user-username"
              required:
                - role
                - username
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/product-user"
  /orgs/{organization_name}/products/{product_name}/users/{user_username}:
    delete:
      operationId: remove-a-product-user
      summary: Remove a product user
      tags:
        - "Product Users"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: user_username
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user-username"
      responses:
        "204":
          description: Ok.
    get:
      operationId: retrieve-a-product-user
      summary: Retrieve a product user
      tags:
        - "Product Users"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: user_username
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user-username"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/product-user"
    put:
      operationId: update-a-product-user
      summary: Update a product user
      tags:
        - "Product Users"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: product_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/product-name"
        - name: user_username
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user-username"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                role:
                  $ref: "#/components/schemas/role-name"
              required:
                - role
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/product-user"
  /orgs/{organization_name}/users:
    get:
      operationId: list-organization-users
      summary: List organization users
      tags:
        - "Organization Users"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/array-of-organization-users"
    post:
      operationId: add-an-organization-user
      summary: Add an organization user
      tags:
        - "Organization Users"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                role:
                  $ref: "#/components/schemas/role-name"
                username:
                  $ref: "#/components/schemas/user-username"
              required:
                - role
                - username
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/organization-user"
  /orgs/{organization_name}/users/{user_username}:
    delete:
      operationId: remove-an-organization-user
      summary: Remove an organization user
      tags:
        - "Organization Users"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: user_username
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user-username"
      responses:
        "204":
          description: Ok.
    get:
      operationId: retrieve-an-organization-user
      summary: Retrieve an organization user
      tags:
        - "Organization Users"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: user_username
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user-username"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/organization-user"
    put:
      operationId: update-an-organization-user
      summary: Update an organization user
      tags:
        - "Organization Users"
      parameters:
        - name: organization_name
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/organization-name"
        - name: user_username
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/user-username"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                role:
                  $ref: "#/components/schemas/role-name"
              required:
                - role
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/organization-user"
  /releases:
    post:
      operationId: create-a-release
      summary: Create a release
      tags:
        - Releases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                bundle_prn:
                  $ref: "#/components/schemas/prn"
                  description: The bundle the release will distribute to devices.
                phase_mode:
                  $ref: "#/components/schemas/release-phase-mode"
                  default: "numeric"
                phase_tags:
                  $ref: "#/components/schemas/release-phase-tags"
                phase_value:
                  $ref: "#/components/schemas/release-phase-value"
                cohort_prn:
                  $ref: "#/components/schemas/prn"
                  description: The cohort to create the release within, and in turn the cohort it will distribute its bundle to.
                description:
                  $ref: "#/components/schemas/release-description"
                disabled:
                  $ref: "#/components/schemas/release-disabled"
                name:
                  $ref: "#/components/schemas/release-name"
                next_release_prn:
                  $ref: "#/components/schemas/prn"
                  description: |
                    If omitted, the release will be created as latest within the cohort. If there is already at least one release in the cohort, then the latest release in that cohort would have its `next_release_prn` updated to this created release.

                    If supplied, the release will be created prior to the release identified by `next_release_prn`. If you wish to insert this release between two other releases, you may additionally supply `previous_release_prn`. If you supply neither field, it will create the release as the latest automatically.
                previous_release_prn:
                  $ref: "#/components/schemas/prn"
                  description: |
                    If omitted, `next_release_prn` will dictate where to create this release within the cohort's release graph.

                    In order to insert a release between two other releases, `next_release_prn` is required to be supplied as well. If you supply neither field, it will create the release as the latest automatically.
                organization_prn:
                  $ref: "#/components/schemas/prn"
                  description: The organization to create the release within.
                required:
                  $ref: "#/components/schemas/release-required"
                schedule_date:
                  $ref: "#/components/schemas/release-schedule-availability"
                version:
                  $ref: "#/components/schemas/release-version"
                version-requirement:
                  $ref: "#/components/schemas/release-version-requirement"
              required:
                - bundle_prn
                - cohort_prn
                - name
                - organization_prn
                - required
                - schedule_date
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  release:
                    $ref: "#/components/schemas/release"
    get:
      operationId: list-releases
      summary: List Releases
      description: |
        **Search**

        This resource has the following searchable fields.

        |Key|Required|Operators|Value|
        |-|-|-|-|
        |`cohort_prn`||`:`|string|
        |`deleted_at`||`:`, `>`, `>=`, `<`, `<=`|date-time|
        |`description`||`:`, `~`|string|
        |`inserted_at`||`:`, `>`, `>=`, `<`, `<=`|date-time|
        |`name`||`:`, `~`|string|
        |`next_release_prn`||`:`|string|
        |`organization_prn`|X|`:`|prn|
        |`prn`||`:`|string|
        |`updated_at`||`:`, `>`, `>=`, `<`, `<=` |date-time|
        |`version_requirement`||`:`, `-`|string|
        |`version`||`:`, `-`|string|

      tags:
        - Releases
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  next_page:
                    $ref: "#/components/schemas/next-page"
                  releases:
                    $ref: "#/components/schemas/array-of-releases"
  /releases/{release_prn}:
    get:
      operationId: retrieve-a-release
      summary: Retrieve a release
      tags:
        - Releases
      parameters:
        - name: release_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  release:
                    $ref: "#/components/schemas/release"
    patch:
      operationId: update-a-release
      summary: Update a release
      tags:
        - Releases
      parameters:
        - name: release_prn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/prn"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                description:
                  $ref: "#/components/schemas/release-description"
                disabled:
                  $ref: "#/components/schemas/release-disabled"
                name:
                  $ref: "#/components/schemas/release-name"
                next_release_prn:
                  $ref: "#/components/schemas/prn"
                  description: Update the release's `next_release_prn`. Changes that would result in an invalid [release graph](/platform/reference/cohorts#release-graph) are rejected.
                phase_mode:
                  $ref: "#/components/schemas/release-phase-mode"
                phase_tags:
                  $ref: "#/components/schemas/release-phase-tags"
                phase_value:
                  $ref: "#/components/schemas/release-phase-value"
                required:
                  $ref: "#/components/schemas/release-required"
                schedule_date:
                  $ref: "#/components/schemas/release-schedule-availability"
                version:
                  $ref: "#/components/schemas/release-version"
                version-requirement:
                  $ref: "#/components/schemas/release-version-requirement"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  release:
                    $ref: "#/components/schemas/release"
  /users/auth:
    post:
      operationId: authenticate-a-user
      summary: Authenticate a user
      tags:
        - "Users"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                email:
                  $ref: "#/components/schemas/email"
                password:
                  $ref: "#/components/schemas/user-password"
                username:
                  type: string
              anyOf:
                - required:
                    - password
                    - username
                - required:
                    - email
                    - password
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/user-me"
  /users/login:
    post:
      operationId: login-a-user
      summary: Login a user
      tags:
        - "Users"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                email:
                  $ref: "#/components/schemas/email"
                note:
                  type: string
                password:
                  $ref: "#/components/schemas/user-password"
                username:
                  type: string
              oneOf:
                - required:
                    - note
                    - password
                    - username
                - required:
                    - email
                    - note
                    - password
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      email:
                        $ref: "#/components/schemas/email"
                      token:
                        $ref: "#/components/schemas/access-token"
                      username:
                        $ref: "#/components/schemas/user-username"
  /users/me:
    get:
      operationId: get-user-me
      summary: Get user me
      tags:
        - "Users"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/user-me"
  /users/register:
    post:
      operationId: register-a-user
      summary: Register a user
      tags:
        - "Users"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                email:
                  $ref: "#/components/schemas/email"
                password:
                  $ref: "#/components/schemas/user-password"
                username:
                  $ref: "#/components/schemas/user-username"
              required:
                - email
                - password
                - username
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: "#/components/schemas/user-me"
        "403":
          description: Forbidden.
          content:
            application/json:
              schema:
                properties:
                  status:
                    type: string
                    const: "Public signups disabled. Invite required to signup."
  /webhooks:
    post:
      operationId: create-a-webhook
      summary: Create a webhook
      tags:
        - "Webhooks"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                description:
                  $ref: "#/components/schemas/webhook-description"
                url:
                  $ref: "#/components/schemas/webhook-url"
                enabled_events:
                  $ref: "#/components/schemas/webhook-enabled-events"
                organization_prn:
                  $ref: "#/components/schemas/prn"
              required:
                - organization_prn
      responses:
        "201":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  webhook:
                    allOf:
                      - $ref: "#/components/schemas/webhook"
                      - type: object
                        properties:
                          secret:
                            $ref: "#/components/schemas/webhook-secret"
    get:
      operationId: list-webhooks
      summary: List webhooks
      description: |
        **Search**

        This resource has the following searchable fields.

        |Key|Required|Operators|Value|
        |-|-|-|-|
        |`description`||`:`, `~`|string|
        |`inserted_at`||`:`, `>`, `>=`, `<`, `<=`|date-time|
        |`organization_prn`|X|`:`|prn|
        |`prn`||`:`|string|
        |`updated_at`||`:`, `>`, `>=`, `<`, `<=` |date-time|

      tags:
        - "Webhooks"
      parameters:
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/page"
      responses:
        "200":
          description: Ok.
          content:
            application/json:
[...]
