---
openapi: 3.1.0
info:
  license:
    name: Peridio
    url: https://github.com/peridio/parasola/blob/main/LICENSE
  description: |
    The Peridio Device API is the primary way for devices to interact with Peridio.

    # Global Headers

    The following headers may be supplied when requesting any endpoint.

    |key|value|description|
    |-|-|-|
    |peridio-release-prn|A release PRN.|See [release resolution](/reference/releases#release-resolution). Informs Peridio of what release is currently active on the device. The preference should always be to supply this header with a valid value. If you supply this header, you should not supply the `peridio-release-version` header.|
    |peridio-release-version|A release version.|See [release resolution](/reference/releases#release-resolution). This header is only used in exceptional cases when you don't have a PRN to supply via `peridio-release-prn`. In that case, you may supply this header and you should not supply the `peridio-release-prn` header.|
    |x-peridio-uuid|A firmware UUID.|Legacy. See [deployment eligibility](/reference/deployments#deployment-eligibility). The UUID of the device's currently active firmware.|
  title: Peridio Device API
  version: "1.0.0"
servers:
  - url: https://device.cremini.peridio.com
security:
  - MutualTLS: []
tags:
    - name: Devices
      id: devices
x-tagGroups:
  - name: "Endpoints"
    tags:
      - "Devices"
paths:
  /device/me:
    get:
      operationId: get-device-me
      summary: get device me
      description: |
        Returns information about the device identified by the request's authentication.

        ### Expandable

        This endpoint has an expandable response. See [expanding responses](/admin-api/#section/Expanding-Responses).
      tags:
        - "Devices"
      parameters:
        - in: header
          name: peridio-release-prn
          schema:
            description: See [global headers](#global-headers).
            example: prn:1:a1ed0c4e-f222-4bb3-89dc-48320018875d:release:e4bf3021-b8d7-42d5-a1bd-52121427ebd0
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: false
        - in: header
          name: peridio-release-version
          schema:
            description: See [global headers](#global-headers).
            $ref: "peridio-admin-openapi.yaml#/components/schemas/release-version"
          required: false
        - name: expand
          description: |
            See [expanding responses](https://docs.peridio.com/admin-api#section/Expanding-Responses).

            **Expandable Fields**

            For more information on each field, reference the response.

            - `cohort`
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      cohort:
                        $ref: "peridio-admin-openapi.yaml#/components/schemas/cohort"
                        description: |
                          Expand required. See [expanding responses](#section/Expanding-Responses).

                          The cohort the device belongs to.
                      identifier:
                        $ref: "peridio-admin-openapi.yaml#/components/schemas/device-identifier"
                      quarantined:
                        type: boolean
  /device/update:
    get:
      operationId: get-device-update
      summary: get device update
      description: |
        This functionality has been superceded by [get update](#devices/operation/get-update).

        Returns information regarding whether an update is available via a [deployment](/admin-api#deployments).

        If an update is available, additional information describing the update is returned including a presigned URL to acquire the update.
      tags:
        - "Devices"
      parameters:
        - in: header
          name: x-peridio-uuid
          schema:
            description: See [global headers](#global-headers).
            $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-uuid"
          required: true
        - in: header
          name: peridio-release-prn
          schema:
            description: See [global headers](#global-headers).
            example: prn:1:a1ed0c4e-f222-4bb3-89dc-48320018875d:release:e4bf3021-b8d7-42d5-a1bd-52121427ebd0
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: false
        - in: header
          name: peridio-release-version
          schema:
            description: See [global headers](#global-headers).
            $ref: "peridio-admin-openapi.yaml#/components/schemas/release-version"
          required: false
        - name: preflight
          in: query
          required: false
          schema:
            type: boolean
            default: false
            description: |
              **When `false`**

              The request will count towards update attempts. `firmware_url` in the response will be set to a presigned URL.

              **When `true`**

              The request will not count towards update attempts. `firmware_url` in the response will be `null`.

              For example, one may use `true` to check if an update is available when you don't yet intend to consume the update so that a device does not rack up a number of incomplete updates and eventually get quarantined (pending the failure configuration set on the relevant deployment).
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      update_available:
                        description: |
                          An update may not be available if:

                            1. There is no applicable deployment, i.e., the device is up to date.
                            2. The device or an applicable deployment is quarantined.
                        type: boolean
                      firmware_url:
                        description: A presigned HTTPS URL. Expires in 24 hours.
                        oneOf:
                          - type: "null"
                          - type: string
                      firmware_meta:
                        oneOf:
                          - type: "null"
                          - $ref: "peridio-admin-openapi.yaml#/components/schemas/firmware-metadata"
                      deployment_id:
                        description: Uniquely identifies a deployment.
                        oneOf:
                          - type: "null"
                          - type: integer

  /update:
    get:
      operationId: get-update
      summary: get update
      description: |
        Returns information regarding whether an update is available via a [release](/admin-api#releases).

        ### Expandable

        This endpoint has an expandable response. By default, only the `status` field is returned. See [expanding responses](/admin-api/#section/Expanding-Responses).
      tags:
        - "Devices"
      parameters:
        - in: header
          name: peridio-release-prn
          schema:
            description: See [global headers](#global-headers).
            example: prn:1:a1ed0c4e-f222-4bb3-89dc-48320018875d:release:e4bf3021-b8d7-42d5-a1bd-52121427ebd0
            $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
          required: false
        - in: header
          name: peridio-release-version
          schema:
            description: See [global headers](#global-headers).
            $ref: "peridio-admin-openapi.yaml#/components/schemas/release-version"
          required: false
        - name: expand
          description: |
            See [expanding responses](https://docs.peridio.com/admin-api#section/Expanding-Responses).

            **Expandable Fields**

            For more information on each field, reference the response.

            - `bundle`
            - `release`
            - `manifest`
              - `artifact`
              - `artifact_version`
              - `url`
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Ok.
          content:
            application/json:
              schema:
                properties:
                  status:
                    enum:
                      - "update"
                      - "no_update"
                      - "device_quarantine"
                  release:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/release"
                    description: |
                      Expand required. See [expanding responses](#section/Expanding-Responses).

                      The target release with respect to [release resolution](/reference/releases#release-resolution).
                  bundle:
                    $ref: "peridio-admin-openapi.yaml#/components/schemas/bundle"
                    description: |
                      Expand required. See [expanding responses](#section/Expanding-Responses).

                      The bundle associated with `release`.
                  manifest:
                    description: |
                      Expand required. See [expanding responses](#section/Expanding-Responses).

                      The manifest associated with `bundle`. Includes metadata about the binaries available to download, including a presigned download url.
                    type: array
                    items:
                      type: object
                      properties:
                        artifact:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/artifact"
                          description: |
                            Expand required. See [expanding responses](#section/Expanding-Responses).

                            The artifact associated with `artifact_version`.
                        artifact_version:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/artifact-version"
                          description: |
                            Expand required. See [expanding responses](#section/Expanding-Responses).

                            The artifact version associated with `binary_prn`.
                        binary_prn:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/prn"
                        hash:
                          type: string
                        url:
                          type: string
                        signatures:
                          $ref: "peridio-admin-openapi.yaml#/components/schemas/array-of-signatures"

components:
  securitySchemes:
    MutualTLS:
      type: mutualTLS
      description: The provided client certificate must be signed by a [CA certificate](https://docs.peridio.com/reference/ca-certificates) registered with Peridio.
